<br><br>
<p>
    Actuellement, je ne propose que trois types de commande. Vous pourrez trouver les <a (click)="scrollToElement('tos')">termes de contrat</a> sur cette page.
    Si mes offres vous intéressent, vous pouvez me contacter sur les réseaux ou bien utiliser <a href="https://forms.gle/9U6aDANyf488W42C7" style="font-weight: bold;">ce formulaire de commande</a>.
    <br><br>
    Je me réserve le droit de refuser une commande sans avoir à me justifier. Vous serez toujours notifié d'un refus. Merci de votre compréhension.
</p>
<br>
<h1>_______ <br><br>Types de commandes</h1>
<h2>Dessin Mystère</h2>
<p>
    D'un coût abordable de 5€ par personnage, ce type de commande s'adresse à ceux qui cherchent à remplir leur galerie sans pression. Avec une livraison du produit final sous sept jours, la communication entre le client et l'artiste est minimale. 
    <br><br>
    Le concept est très simple, vous choisissez les personnages, je choisis le format et le contenu. Par exemple, vous voulez que je dessine Bubulle, je choisis de le dessiner en train de jouer aux cartes dans son aquarium.
    <br><br>
    Aucune édition sur le produit final ne sera faite et aucun progrès ne sera envoyé.
</p>
<br>
<h2>Commande au chapeau</h2>
<p>
    Vous avez une idée et vous imaginez votre personnage dans mon style ? Ce format est fait pour vous ! Vous avez le choix de ce qui sera sur la toile et du prix que vous souhaitez y mettre. L'artiste pourra aiguiller le client sur le prix si celui-ci hésite.
    <br><br>
    Je peux réaliser beaucoup de chose alors je vous invite à consulter ma galerie pour en avoir une idée plus précise. Mon style pouvant fluctuer, n'hésitez pas me montrer des œuvres que vous aimez particulièrement. 
    <br><br>
    Aucun progrès ne sera envoyé sauf si demandé. Le délai de livraison du produit final est d'un mois.
</p>
<br>
<h2>Commande NSFW</h2>
<p>
    Service réservé aux adultes, je me propose de réaliser vos idées coquines. Je vous invite à me contacter en privé pour plus de détails, ou à remplir le formulaire mentionné plus haut.
    <br><br>
    Il est à noter que pour ce format, je ne dessine que des humains et des humanoïdes (donc ni furries, ni animaux). Le délai de livraison du produit final est d'un mois.
</p>
<br>
<h1 id="tos">_______ <br><br>Termes de contrat</h1>
<p>
    Le client désigne la personne qui passe une commande (vous).
    <br>
    L'artiste désigne la personne qui remplit la commande (moi).
</p>
<h2>Livraison de l'œuvre</h2>
<p>
    L'artiste s'engage à livrer l'œuvre dans les délais indiqués. S'il est dans l'impossibilité de fournir le produit final, il en notifiera le client et un arrangement pourra être discuté.
    <br><br>
    A l'issue de la commande, le client recevra un fichier image (.png). A la requête du client, l'artiste peut également envoyer le fichier sous un format différent.
    <br><br>
    Une fois la commande réceptionnée, le client peut laisser une revue de son experience.
</p>
<br>
<h2>Paiement</h2>
<p>
    Le paiement s'effectue via PayPal, Ko-Fi ou Artistree. Si le client souhaite utiliser Artistree, il peut commander directement sur <a href="https://artistree.io/lumen">la page de l'artiste</a>. Le paiement d'une commande engage le client à respecter le présent contrat.
    <br><br>
    L'artiste ne commence pas à travailler sur une commande tant qu'il n'a pas reçu le paiement complet pour celle-ci. 
    <br>
    Si le montant excède 100€, le client peut payer en plusieurs fois mais l'artiste demandera au moins 50% du montant total avant de commencer à travailler.
    <br><br>
    Si l'artiste se trouve dans l'impossibilité de remplir la demande du client, il s'engage à le rembourser.
    Aucun remboursement ne sera effectué à la demande du client.
</p>
<br>
<h2>Utilisation de l'œuvre</h2>
<p>
    Les œuvres réalisées ne peuvent pas être utilisées pour un usage commercial. Toutes les utilisations qui pourraient rapporter de l'argent au client sont interdites. Elles ne peuvent donc pas être revendues par le client. 
    <br>Il est également interdit d'utiliser le produit final ou les progrès envoyés pour entraîner une intelligence artificielle sans l'accord écrit de l'artiste.
    <br><br>
    L'artiste se réserve le droit de poster les œuvres commandées sur ses réseaux pour promouvoir son activité. Le client peut cependant demander de garder l'œuvre privée pendant un certain temps (dans le cas où s'agirait d'un cadeau par exemple).
</p>
<br>
<h2>Edition de l'œuvre</h2>
<p>
    Si le format l'autorise, le client peut demander le progrès de l'artiste sur sa commande. Le client peut alors demander des changements ou des modifications. Le client peut demander des modifications à cinq reprises maximum. Au-delà, des frais supplémentaires peuvent être demandés par l'artiste.
    <br><br>
    L'artiste peut également prendre la liberté d'envoyer son progrès au client pour validation. 
    <br><br>
    Si un progrès envoyé n'obtient aucune réponse de la part du client dans les trois jours, il sera considéré comme validé.
    <br><br>
    Une fois le produit final validé par le client, plus aucune édition ne sera faite par l'artiste. Le client est autorisé à modifier l'œuvre si l'artiste (moi) est crédité correctement.
</p>
<br><br>
