.grid-container {
    display: grid;
    grid-template-columns: auto auto auto;
    width: 100%;
  }
  .grid-item {
    background-color: #191919;
    border: 1px solid #FFDF81;
    color: #FFDF81;
    padding: 10px;
    flex : 0 0 25%;
    font-size: 14px;
    text-align: center;

  }