<br><br>

<!-- PRESENTATION -->

<table class="containimg">
  <tr>
    <td>
      <img src="assets/Profile.png" alt="profile picture" class="roundimg">
    </td>
    <td>
      <p>Je suis Lumen, étudiante en informatique. Je dessine sur mon temps libre et créé de petites ou grandes histoires. J'espère pouvoir vous émerveiller avec mon univers fantaisiste ! Je travaille essentiellement avec des créatures venues de contrées inatteignables. Je vous souhaite une agréable épopée à travers les pages de ce site !</p>
    </td>
  </tr>
</table>

<!-- CONTACT -->
<h1>_______ <br><br>Contact</h1>
<p>Vous pouvez me retrouver sur différents réseaux. N'hésitez pas à me contacter, ma messagerie est toujours grande ouverte !</p>

<table id="contact">
  <tr>
    <th>Toyhou.se</th>
    <td><a href="https://toyhou.se/lumen_crey">lumen_crey</a></td>

    <th>ArtFol</th>
    <td><a href="https://www.artfol.co/lumen_crey">lumen_crey</a></td>
  </tr>
  <tr>
    <th>Discord</th>
    <td><a href="https://discord.gg/2Dg8gFT7KN">newni</a></td>

    <th>Dappervolk</th>
    <td><a href="https://dappervolk.com/profile/41489">Lumens</a></td>
  </tr>
  <tr>
    <th>Unvale</th>
    <td><a href="https://unvale.io/Lumen">Lumen</a></td>

    <th>Ko-Fi</th>
    <td><a href="https://ko-fi.com/lumen">Lumen</a></td>
  </tr>
  <tr>
    <th>Artistree</th>
    <td><a href="https://artistree.io/lumen">lumen</a></td>

    <th>ArtFight</th>
    <td><a href="https://artfight.net/~Newni">Newni</a></td>
  </tr>
</table>

<!-- NOUVEAUTES / SITE UPDATE --><br>

<h1>_______ <br><br>Nouveautés</h1>

<table>
  <tr>
    <td>
      <img src="assets/MAJ1.png" alt="MAJ 1" class="roundimg">
    </td>
    <td>
      <h2 class="left">28/04/2024 - Le site est en ligne !</h2>
      Youhou ! Tout le monde peut consulter les pages du site. Des petits ajustements sont encore à faire et seule la page d'accueil est faite, mais c'est un début ! La version pour téléphone est horrible. Je m'occuperai de la partie responsive un jour, c'est promis.
    </td>
  </tr>
</table>