<h1>_______ <br><br>Terms of service</h1>
<p> 
    The donor refers to the person requesting a piece (you).
    <br>
    The artist refers to the person fulfilling the request (me).
    <br><br>
    No changes to the terms will be accepted.
</p>

<h2>Introduction</h2>
<p>
    The artist undertakes to communicate regularly with the donor and to respond within a reasonable timeframe, with due regard for their health.
    <br><br>
    The artist agrees to draw humans, humanoids, anthropomorphics, animals, and plants. The artist will not draw "gore" content. The artist may draw sexual content (suggestive or explicit).
    <br><br>
    The artist is not a professional. They draw on their personal time.
</p>
<br>
<h2>Delivery for digital piece</h2>
<p>
    The artist agrees to deliver the piece within a reasonable time (with due regard for their health). Written turnaround times are estimates. If the artist knows they will need more time, they will notify the donor. You can check the progress of your piece <a href="https://discord.com/channels/516299602509430811/1446904717635748012">here</a>.
    <br><br>
    In the end, the donor will receive an image file (.png) or animation file (.gif). If requested, the artist can send a speed paint (time-lapse).
    <br><br>
    Once the commission is completed, the donor may leave a review.
</p>
<br>
<h2>Delivery for traditional piece</h2>
<p>
    The artist agrees to deliver the piece within a reasonable time (with due regard for their health). Written turnaround times are estimates. If the artist knows they will need more time, they will notify the donor. You can check the progress of your piece <a href="https://discord.com/channels/516299602509430811/1446904717635748012">here</a>.
    <br><br>
    Once the commission is complete, the donor will receive a photograph of the artwork. 
    <br><br>
    Postal deliveries to France and Belgium are possible. The cost of postage is payable by the donor, and payment must be sent to the artist via PayPal once the artwork is complete and before it is posted. No refunds will be issued. Postage times are not included in the stated deadlines.
    <br><br>
    Please let the artist know right at the start if you’d like a physical delivery (if you change your mind, that’s no problem)! 
    <br><br>
    Once the commission is completed, the donor may leave a review.
</p>
<br>
<h2>Payment</h2>
<p>
    The prices listed above are minimum prices; they have been set deliberately low to encourage as many people as possible to donate. If you can afford to, please do not hesitate to give more to help those in need. The main aim is to do a good deed, and the artist will be free to acknowledge the generosity of their patrons as they see fit.
    <br><br>
    The amount requested by the artist can be split between different charities.
    <br><br>
    The donation must be made and proof of payment provided before the artist begins drawing. A simple screenshot showing the recipient of the donation, the date of the donation and the amount will suffice as proof of payment.
    <br><br>
    The donation must have been made in connection with the current art request. It cannot be reused as proof of payment for a subsequent request. Similarly, donations made prior to the art request will not be taken into account. The donation serves as a means of payment to the artist.
    <br><br>
    Since the money does not go directly to the artist, no refunds can be issued! If, for any reason, your request cannot be fulfilled, you will still have the satisfaction of having donated to help others.
</p>
<br>
<h2>Usage</h2>
<p>
    The commissioned art cannot be used for commercial purposes or any profit-generating activity, including advertising, marketing, reselling, or merchandising. The commissioned art is for personal use only.
    <br><br>
    The commissioned piece cannot be used to train any kind of algorithm, including artificial intelligence, or to create NFTs without the written consent of the artist.
    <br><br>
    The artist may post their work on social media to promote their activity. The donor may request to keep the art private for a certain period (e.g., if the piece is a gift).
    <br><br>
    The donor may repost the completed work wherever they wish, provided that the platform does not run or use generative AI on its content, and that the artist is properly credited (with a link!). 
</p>
<br>
<h2>Piece edits</h2>
<p>
    The donor may enquire about the artist’s progress on the commission at any time. The donor may then request changes or modifications. The donor may request two rounds of changes per stage (composition if included – sketch – line art – colour – shading/rendering) for works classified as 'clean'. For works classified as ‘sketches’, the donor may request minor changes to the final piece. It is up to the donor to be specific in their request from the beginning.<br>
    Major edits cannot be made after the sketch is approved.
    <br><br>
    The artist will always send a sketch to the donor for approval (unless the commission is for a sketch). They may also send other stages of their work at the donor’s request or if they deem it necessary.
    <br><br>
    If the donor does not respond to a progress update within three days (72 hours), it will be deemed approved.
    <br><br>
    Once the final product has been approved by the donor, the artist will not make any further edits. The donor is not permitted to edit the artwork, draw over it or alter it in any way. Only resizing and compression are permitted.
    <br><br>
    If you would like to make any further changes later to your artwork (such as applying a filter or adding a transparent background, etc.), you are welcome to contact the artist again. If the artist still has the file, any necessary edits may be carried out free of charge.
</p>
<br><br>