<h1>_______ <br><br>Terms of service</h1>
    <p>Any modifications of the terms requested by the commissioner may incur additional fees.</p>

    <h2>Introduction</h2>
<p>
    The commissioner is an adult with all their legal rights. No request will be accepted from a minor.
    <br><br>
    The artist agrees to communicate regularly with the client and respond within a reasonable time.
    <br><br>
    The artist agrees to draw humans, humanoids, anthropomorphics, animals, and plants. The artist will not draw "gore" content. The artist may draw sexual content (suggestive or explicit).
</p>
<h2>Delivery</h2>
<p>
    The artist agrees to deliver the piece within a reasonable time. Written turnaround times are estimates. If the artist knows they will need more time, they will notify the client.
    <br><br>
    In the end, the commissioner will receive an image file (.png) or animation file (.gif). If requested, the artist can send a speed paint (time-lapse).
    <br><br>
    Once the commission is completed, the commissioner may leave a review.
</p>
<br>
<h2>Payment</h2>
<p>
    The price may vary depending on the character's complexity. The final price will be set before the artist starts drawing and will not change (unless otherwise specified in these terms).
    <br><br>
    Payment is made via PayPal. The commissioner and the artist agree to follow these terms once payment is made.
    <br><br>
    The artist will begin working on the order after receiving the full payment.
    <br><br>
    If the order is worth more than 100 EUR, the commissioner may pay in several installments. The artist will request at least 50% of the full price before starting work.
    <br><br>
    If the artist is unable to complete the client's request for the following reasons: health issues, taking too long to complete (over twice the estimated time), broken supplies, a full refund will be issued. No refunds will be provided after the sketch has been sent.
</p>
<br>
<h2>Usage</h2>
<p>
    The commissioned art cannot be used for commercial purposes or any profit-generating activity, including advertising, marketing, reselling, or merchandising. The commissioned art is for personal use only.
    <br><br>
    The commissioned piece cannot be used to train any kind of algorithm, including artificial intelligence, or to create NFTs without the written consent of the artist.
    <br><br>
    The artist may post their work on social media to promote their activity. The commissioner may request to keep the art private for a certain period (e.g., if the piece is a gift).
</p>
<br>
<h2>Piece edits</h2>
<p>
    The commissioner may ask for WIPs (Work in Progress) at any time. They can request changes up to five times (each time can contain as many changes as needed). If editing is requested more than five times, the artist may charge additional fees.
    <br><br>
    Major edits (composition changes) cannot be made after the sketch is approved.
    <br><br>
    The artist will send a sketch for approval. They may also send other steps of the drawing if the client requests it or if the artist deems it necessary.
    <br><br>
    If a WIP does not receive approval within two days, it will be considered approved.
    <br><br>
    Once the final piece is approved by the commissioner, no further edits will be made by the artist. The commissioner may edit the piece, provided the artist is properly credited.
</p>
<br><br>