<h1>_______ <br><br>Terms of service</h1>
    <p>Any modifications of the terms requested by the commissioner may cause additionnal fees.</p>

    <h2>Introduction</h2>
<p>
    The commissioner is an adult with all their legal rights. No request will be accepted from a minor.
    <br><br>
    The artist agrees to communicate regularly with the client and reply within reasonable time.
    <br><br>
    The artist accept to draw humans, humanoids, anthropomorphics, animals and plants. The artist won't draw "gore" content. The artist may draw sexual content (suggestive or explicit).
</p>
<h2>Delivery</h2>
<p>
    The artist agrees to deliver the piece within a reasonable time, written turnaround time are estimations. If the artist knows they will take more time, they will notice the client.
    <br><br>
    In the end, the commissioner receives an image file (.png) or animation file (.gif). If asked, the artist can send a speed paint (time lapse).
    <br><br>
    Once the commission is completed, the commissioner can leave a review.
</p>
<br>
<h2>Payment</h2>
<p>
    The price may vary depending on the character's complexity. The final price is set before the artist starts to draw and will not change (unless other rules state otherwise in these terms).
    <br><br>
    Payment is made using PayPal. The commissioner and the artist agree to follow these terms as soon as the payment is made.
    <br><br>
    The artist starts working on an order after receiving the full payment.
    <br>
    If your order is worth more than 100 EUR, the commissioner can pay in several instalments. The artist will ask at least 50% of the full price before starting to work.
    <br><br>
    If the artist cannot provide the client request for the following reason : health problem, taking too long to complete (over twice the estimate time), broken supply ; a full refund will be made. 
    No refund asked by the commissioner will be made after the sketch is sent.
</p>
<br>
<h2>Usage</h2>
<p>
    The commissioned art can't be used for commercial uses or any profit-generating activity including advertising, marketing, reselling and merchandising. The commissioned art is for personal use only.
    <br>
    The commissioned piece cannot be used to train any kind of algorithm, including artificial intelligence, or creating NFT without the written consent of the artist.
    <br><br>
    The artist can post their work on social medias to promote their activity. The commissioner can ask to keep the art private for a certain delay (in case the piece is a gift for example).
</p>
<br>
<h2>Piece edits</h2>
<p>
    The commissioner can ask for WIP (Work In Progress) anytimes. They can ask for changes five times at most (each time can contain as many changes as needed). If editing is requested more than five times, the artist may ask additionnal fees.<br>
    Major edits (composition changes) can't be made anymore after sketch approval.
    <br><br>
    The artist will send a sketch for approval. They can also send others steps of the drawing if the client ask for it or if they judged it necessary.
    <br><br>
    If a WIP doesn't get an approvement within two days, it will be considered as approved.
    <br><br>
    Once the final piece is approved by the commissioner, no edits will be provided by the artist. The commissioner may edit the piece if the artist is properly credited.
</p>
<br><br>