<br>
<h1 *ngIf="getLng() === 'fr'">Dessins gratuits</h1>
<h1 *ngIf="getLng() === 'en'">Free art</h1>

<p *ngIf="getLng() === 'fr'" class="center">
    Je vous propose de réaliser vos requêtes. Je peux dessiner tout type de personnage. Aucun contenu "gore" ou à caractère sexuel ne sera produit dans le cadre de ce projet.
    <br><br>
    Vous pouvez me contacter par n'importe quel biais, mais j'ai une préférence pour Discord ou Toyhou.se.
</p>
<p *ngIf="getLng() === 'en'" class="center">
    I offer to draw your request. I can draw any kind of characters. I won't do gore or NSFW.
    <br><br>
    You can contact me through any social medias, but Discord or Toyhou.se are preferred.
</p>

<h2 *ngIf="getLng() === 'fr'">_______ <br><br>Quelques informations</h2>
<h2 *ngIf="getLng() === 'en'">_______ <br><br>Do and don't</h2>

<p *ngIf="getLng() === 'fr'" class="center">
    Je peux décliner votre demande. Je ne dois rien à personne, merci de votre compréhension.
    <br><br>
    Je suis très agacé des personnes qui envoient leur référence avec pour seul message "Merci pour l'opportunité". Ce genre de message résultera désormais à un passage en liste noire.
    <br><br>
    C'est idiot, je sais, mais la politesse m'importe. Ceux qui ont l'habitude de voir passer mes offres de freebies savent que je ne dessine pas s'il manque une salutation.
    <br><br>
    N'hésitez pas à montrer un peu d'interêt pour mon travail, c'est tellement plus motivant de dessiner pour des gens qui apprécient ce que l'on fait.
    <br><br>
    Je suis curieux de découvrir les personnages et les univers des autres et je fais parfois le choix d'engager la conversation. Cela ne veut pas dire que je vais dessiner pour vous, donc si vous êtes là uniquement pour le dessin, je vous conseille de passer votre chemin. Les freebies sont pour moi l'occasion <b>d'échanger</b> avec d'autres personnes, de faire plaisir et de me faire plaisir.
</p>
<p *ngIf="getLng() === 'en'" class="center">
    Translating...
</p>

<h2 *ngIf="getLng() === 'fr'">_______ <br><br>Série du 13 novembre 2024</h2>
<h2 *ngIf="getLng() === 'en'">_______ <br><br>Drawings made the 13th Nov</h2>
<p *ngIf="getLng() === 'fr'" class="center">
    C'était mon anniversaire alors j'ai réalisé quelques dessins pour les utilisateurs Discord suivants : MadPixelle, brendy_, seiden, night12, thekilleris560
</p>
<p *ngIf="getLng() === 'en'" class="center">
    It was my birthday so I draw a few sketchs for these Discord users : MadPixelle, brendy_, seiden, night12, thekilleris560
</p>

<img src="assets/Projets/Freebie/13nov_1.png" style="max-width: 30%;">
<img src="assets/Projets/Freebie/13nov_2.png" style="max-width: 30%;">
<img src="assets/Projets/Freebie/13nov_3.png" style="max-width: 30%;">
<img src="assets/Projets/Freebie/13nov_4.png" style="max-width: 30%;">
<img src="assets/Projets/Freebie/13nov_5.png" style="max-width: 30%;">