<h1>_______<br></h1>

<h1>PIXEL ART</h1>
<app-tier-comm-view name="Mini 30*30px" [tat]="7" [prix]="1" info="This includes two animated frames (+1 EUR per additional frame)."></app-tier-comm-view>
<div class="scroll-container">
    <img src="assets/Commande/Mini1.gif" alt="">
    <img src="assets/Commande/Mini2.gif" alt="">
    <img src="assets/Commande/Mini3.gif" alt="">
    <img src="assets/Commande/Mini4.gif" alt="">
    <img src="assets/Commande/Mini5.png" alt="">
</div>
<br>
<app-tier-comm-view name="Static portrait 100*100px" [tat]="14" [prix]="3" info="The expression is yours to decide."></app-tier-comm-view>
<div class="scroll-container">
    <img src="assets/Commande/Pstat1.png" alt="">
    <img src="assets/Commande/Pstat2.png" alt="">
    <img src="assets/Commande/Pstat3.png" alt="">
    <img src="assets/Commande/Pstat4.png" alt="">
</div>
<br>
<app-tier-comm-view name="Animated pixel" [tat]="21" [prix]="5" info="The canvas will be around 100*100px (flexible). The animation is yours to decide (5 frames included, + 1 EUR per additional frame)"></app-tier-comm-view>
<div class="scroll-container">
    <img src="assets/Commande/Anim1.gif" alt="">
    <img src="assets/Commande/Anim2.gif" alt="">
    <img src="assets/Commande/Anim3.gif" alt="">
    <img src="assets/Commande/Anim4.gif" alt="">
    <img src="assets/Commande/Anim5.gif" alt="">
</div>
<br>
<app-tier-comm-view name="Something else?" [tat]="0" [prix]="0" info="Contact me, we'll figure out something!"></app-tier-comm-view>
<br>
<h1>TRADITIONAL ART</h1>
<br>
<app-tier-comm-view name="Colored pencils sketch" [tat]="30" [prix]="3" info="A colored sketch under 10*10cm. You can buy several to make a sketch page!"></app-tier-comm-view>
<div class="scroll-container">
    <img src="assets/Commande/Cray1.png" alt="">
    <img src="assets/Commande/Cray2.png" alt="">
    <img src="assets/Commande/Cray3.png" alt="">
    <img src="assets/Commande/Cray4.png" alt="">
    <img src="assets/Commande/Cray5.png" alt="">
    <img src="assets/Commande/Cray6.png" alt="">
    <img src="assets/Commande/Cray7.png" alt="">
    <img src="assets/Commande/Cray8.png" alt="">
</div>
<br>
<app-tier-comm-view name="Mixed media sketch" [tat]="30" [prix]="5" info="A colored sketch under 10*10cm that may feature these media: marker, watercolor, colored pencils, gouache, posca, oil pastel. Medium is chosen by the artist. You can buy several to make a sketch page!"></app-tier-comm-view>
<div class="scroll-container">
    <img src="assets/Commande/Mixt1.png" alt="">
    <img src="assets/Commande/Mixt2.png" alt="">
    <img src="assets/Commande/Mixt3.png" alt="">
    <img src="assets/Commande/Mixt4.png" alt="">
    <img src="assets/Commande/Mixt5.png" alt="">
    <img src="assets/Commande/Mixt6.png" alt="">
    <img src="assets/Commande/Mixt7.png" alt="">
</div>
<br>
<app-tier-comm-view name="Charcoal A5" [tat]="30" [prix]="7" info="A charcoal-made drawing with eventually some touches of colors."></app-tier-comm-view>
<div class="scroll-container">
    <img src="assets/Commande/Fus1.png" alt="">
    <img src="assets/Commande/Fus2.png" alt="">
</div>
<br>
<app-tier-comm-view name="Surprise page A4" [tat]="45" [prix]="20" info="A page of drawings of your character(s), entirely at the artist's discretion, media is up to the artist"></app-tier-comm-view>
<div class="scroll-container">
    <img src="assets/Commande/Psur1.png" alt="">
    <img src="assets/Commande/Psur2.png" alt="">
    <img src="assets/Commande/Psur3.png" alt="">
    <img src="assets/Commande/Psur4.png" alt="">
    <img src="assets/Commande/Psur5.png" alt="">
    <img src="assets/Commande/Psur6.png" alt="">
</div>
<br>
<app-tier-comm-view name="Comic page" [tat]="60" [prix]="50" info="The story is yours to decide. A storyboard will be provided for approval. Media up to the artist. A5 page. You can ask for several to make a longer story. The first example is the most accurate."></app-tier-comm-view>
<div class="scroll-container">
    <img src="assets/Commande/BD1.png" alt="">
    <img src="assets/Commande/BD2.png" alt="">
    <img src="assets/Commande/BD3.png" alt="">
    <img src="assets/Commande/BD4.png" alt="">
    <img src="assets/Commande/BD5.png" alt="">
    <img src="assets/Commande/BD6.png" alt="">
    <img src="assets/Commande/BD7.png" alt="">
</div>
<br>
<app-tier-comm-view name="Something else?" [tat]="0" [prix]="0" info="Contact me, we'll figure out something!"></app-tier-comm-view>
<br>
<h1>DIGITAL ART</h1>
<br>
<app-tier-comm-view name="Sketch - Monochromatic sketch" [tat]="7" [prix]="2" info="Square canva, textured back. Expression is yours to decide."></app-tier-comm-view>
<div class="scroll-container">
    <img src="assets/Commande/Mono1.png" alt="">
    <img src="assets/Commande/Mono2.png" alt="">
    <img src="assets/Commande/Mono3.png" alt="">
    <img src="assets/Commande/Mono4.png" alt="">
</div>
<br>
<app-tier-comm-view name="Sketch - Portrait" [tat]="7" [prix]="2" info="Colored and shaded. Expression is yours to decide."></app-tier-comm-view>
<div class="scroll-container">
    <img src="assets/Commande/SPor1.png" alt="">
    <img src="assets/Commande/SPor2.png" alt="">
    <img src="assets/Commande/SPor3.png" alt="">
    <img src="assets/Commande/SPor4.png" alt="">
    <img src="assets/Commande/SPor5.png" alt="">
    <img src="assets/Commande/SPor6.png" alt="">
    <img src="assets/Commande/SPor7.png" alt="">
    <img src="assets/Commande/SPor8.png" alt="">
</div>
<br>
<app-tier-comm-view name="Sketch - Half" [tat]="10" [prix]="4" info="Colored and shaded. Expression and pose are yours to decide."></app-tier-comm-view>
<div class="scroll-container">
    <img src="assets/Commande/SHalf0.png" alt="">
    <img src="assets/Commande/SHalf1.png" alt="">
    <img src="assets/Commande/SHalf2.png" alt="">
    <img src="assets/Commande/SHalf3.png" alt="">
    <img src="assets/Commande/SHalf4.png" alt="">
</div>
<br>
<app-tier-comm-view name="Sketch - Full" [tat]="15" [prix]="5" info="Colored and shaded. Expression and pose are yours to decide."></app-tier-comm-view>
<div class="scroll-container">
    <img src="assets/Commande/SFull1.png" alt="">
    <img src="assets/Commande/SFull2.png" alt="">
    <img src="assets/Commande/SFull3.png" alt="">
    <img src="assets/Commande/SFull4.png" alt="">
    <img src="assets/Commande/SFull5.png" alt="">
    <img src="assets/Commande/SFull6.png" alt="">
</div>
<br>
<app-tier-comm-view name="Sketch - Page" [tat]="30" [prix]="12" info="An hour of sketching, quantity depends on what can be fit in that time. Can included several characters without price change."></app-tier-comm-view>
<div class="scroll-container">
    <img src="assets/Commande/SPa1.png" alt="">
    <img src="assets/Commande/SPa2.png" alt="">
    <img src="assets/Commande/SPa3.png" alt="">
    <img src="assets/Commande/SPa4.png" alt="">
</div>
<br>
<app-tier-comm-view name="Sketch - Scene" [tat]="30" [prix]="15" info="Colored and shaded. Simple background only."></app-tier-comm-view>
<div class="scroll-container">
    <img src="assets/Commande/SSce1.png" alt="">
    <img src="assets/Commande/SSce2.png" alt="">
    <img src="assets/Commande/SSce3.png" alt="">
    <img src="assets/Commande/SSce4.png" alt="">
    <img src="assets/Commande/SSce5.png" alt="">
</div>
<br>
<app-tier-comm-view name="Sketch - Something else?" [tat]="0" [prix]="0" info="Contact me, we'll figure out something!"></app-tier-comm-view>

<br>
<app-tier-comm-view name="Clean - Chibi" [tat]="15" [prix]="5" info="Colored and shaded. Expression and pose are yours to decide."></app-tier-comm-view>
<div class="scroll-container">
    <img src="assets/Commande/Chibi1.png" alt="">
    <img src="assets/Commande/Chibi2.png" alt="">
    <img src="assets/Commande/Chibi3.png" alt="">
    <img src="assets/Commande/Chibi4.png" alt="">
    <img src="assets/Commande/Chibi5.png" alt="">
    <img src="assets/Commande/Chibi6.png" alt="">
    <img src="assets/Commande/Chibi7.png" alt="">
    <img src="assets/Commande/Chibi8.png" alt="">
</div>

<br>
<app-tier-comm-view name="Clean - Portrait" [tat]="15" [prix]="10" info="Colored and shaded. Simple background included."></app-tier-comm-view>
<div class="scroll-container">
    <img src="assets/Commande/Port1.png" alt="">
    <img src="assets/Commande/Port2.png" alt="">
    <img src="assets/Commande/Port3.png" alt="">
    <img src="assets/Commande/Port4.png" alt="">
    <img src="assets/Commande/Port5.png" alt="">
    <img src="assets/Commande/Port6.png" alt="">
    <img src="assets/Commande/Port7.png" alt="">
    <img src="assets/Commande/Portrait1.png" alt="">
    <img src="assets/Commande/Portrait2.png" alt="">
    <img src="assets/Commande/Portrait3.png" alt="">
    <img src="assets/Commande/Portrait4.png" alt="">
    <img src="assets/Commande/Portrait5.png" alt="">
    <img src="assets/Commande/Portrait6.png" alt="">
    <img src="assets/Commande/Portrait7.png" alt="">
</div>

<br>
<app-tier-comm-view name="Clean - Half" [tat]="25" [prix]="20" info="Colored and shaded. Simple background included."></app-tier-comm-view>
<div class="scroll-container">
    <img src="assets/Commande/Half0.png" alt="">
    <img src="assets/Commande/Half1.png" alt="">
    <img src="assets/Commande/Half2.png" alt="">
    <img src="assets/Commande/Half3.png" alt="">
    <img src="assets/Commande/Half4.png" alt="">
    <img src="assets/Commande/Half5.png" alt="">
    <img src="assets/Commande/Half6.png" alt="">
    <img src="assets/Commande/Half7.png" alt="">
</div>
<br>
<app-tier-comm-view name="Clean - Full" [tat]="30" [prix]="30" info="Colored and shaded. Simple background included."></app-tier-comm-view>
<div class="scroll-container">
    <img src="assets/Commande/Full0.png" alt="">
    <img src="assets/Commande/Full1.png" alt="">
    <img src="assets/Commande/Full2.png" alt="">
    <img src="assets/Commande/Full3.png" alt="">
    <img src="assets/Commande/Full4.png" alt="">
    <img src="assets/Commande/Full5.png" alt="">
    <img src="assets/Commande/Full6.png" alt="">
    <img src="assets/Commande/Full7.png" alt="">
    <img src="assets/Commande/Full8.png" alt="">
</div>
<br>
<app-tier-comm-view name="Clean - Expression page" [tat]="45" [prix]="35" info="Five expressions yours to decide."></app-tier-comm-view>
<div class="scroll-container">
    <img src="assets/Commande/PExp1.png" alt="">
    <img src="assets/Commande/PExp2.png" alt="">
    <img src="assets/Commande/PExp3.png" alt="">
    <img src="assets/Commande/Portrait7.png" alt="">
    <img src="assets/Commande/Expr1.png" alt="">
    <img src="assets/Commande/Expr2.png" alt="">
    <img src="assets/Commande/Expr3.png" alt="">
    <img src="assets/Commande/Expr4.png" alt="">
    <img src="assets/Commande/Expr5.png" alt="">
    <img src="assets/Commande/Expr6.png" alt="">
</div>
<br>
<app-tier-comm-view name="Clean - Simple scene" [tat]="30" [prix]="40" info="Colored and shaded. The artist suggests composition ideas. Background included."></app-tier-comm-view>
<div class="scroll-container">
    <img src="assets/Commande/SceneS1.png" alt="">
    <img src="assets/Commande/SceneS2.png" alt="">
    <img src="assets/Commande/SceneS3.png" alt="">
    <img src="assets/Commande/SceneS4.png" alt="">
    <img src="assets/Commande/Scene1.png" alt="">
    <img src="assets/Commande/Scene2.png" alt="">
    <img src="assets/Commande/Scene3.png" alt="">
    <img src="assets/Commande/Portrait6.png" alt="">
    <img src="assets/Commande/Scene5.png" alt="">
    <img src="assets/Commande/Scene6.png" alt="">
    <img src="assets/Commande/Scene7.png" alt=""> 
</div>
<br>
<app-tier-comm-view name="Clean - Complex scene" [tat]="40" [prix]="60" info="Colored and shaded. The artist suggests composition ideas. Complex background included."></app-tier-comm-view>
<div class="scroll-container">
    <img src="assets/Commande/SceneC1.png" alt="">
    <img src="assets/Commande/SceneC2.png" alt="">
    <img src="assets/Commande/SceneC3.png" alt="">
    <img src="assets/Commande/SceneC4.png" alt="">
    <img src="assets/Commande/Scene4.png" alt="">
</div>
<br>
<app-tier-comm-view name="Clean - Comic" [tat]="60" [prix]="60" info="Colored and shaded. The story is yours to decide. A storyboard will be provided for approval. Can be classic or vertical reading. I recommend providing the text. The last pictures are storyboards."></app-tier-comm-view>
<div class="scroll-container">
    <img src="assets/Commande/Comic1.png" alt="">
    <img src="assets/Commande/Comic2.png" alt="">
    <img src="assets/Commande/Comic3.png" alt="">
    <img src="assets/Commande/Comic4.png" alt="">
    <img src="assets/Commande/Comic5.png" alt="">
    <img src="assets/Commande/Comic6.png" alt="">
</div>
<br>
<app-tier-comm-view name="Clean - Something else?" [tat]="0" [prix]="0" info="Contact me, we'll figure out something!"></app-tier-comm-view>