<br>
<h1 *ngIf="getLng() === 'fr'">Les contes de Félicie</h1>
<h1 *ngIf="getLng() === 'en'">Félicie's tales</h1>

<p *ngIf="getLng() === 'en'">
    English translation is not available.
</p>

<h2>Résumé</h2>
<p>
    Sam est la fondatrice d'un orphelinat qui accueille des adolescents. Elle travaille en étroite collaboration avec ses voisins : une herboristerie. Entre sorcellerie et nature, chacun porte en lui une histoire et des espoirs pour l'avenir.
</p>

<h2>Personnages</h2>

<h3>Herboristerie</h3>

<div class="scroll-container" style="display: flex;">     
    <div class="card" style="background-color: #d1bd82; border: #bc2536 2px dotted;">
        <table>
            <tr>
                <td>
                    <img src="assets/Projets/Characters/Mini_Buster.png">
                </td>
                <td>
                    <h2 style="color:#bc2536">Buster</h2>
                    <p style="color:#521c2a; width: 400px;">
                        Buster est un chat-garou de vingt-deux ans. Il est le propriétaire de l'herboristerie. Linja est sa grand-mère et l'aide à tenir le commerce. Il est amoureux de Verveine. Son pouvoir est de posséder neuf vies.
                    </p>
                </td>
            </tr>
        </table>
    </div>

    <div class="card" style="background-color: #636745; border: #f6d047 2px dotted;">
        <table>
            <tr>
                <td>
                    <img src="assets/Projets/Characters/Mini_Verveine.png">
                </td>
                <td>
                    <div style="display: inline;">
                        <h2 style="color : #f6d047">Verveine</h2>
                    </div>
                    <p style="color:#f3f2b2; width: 400px;">
                        Verveine est un demi-vivant, c'est-à-dire qu'il vit en symbiose avec une plante. Il possède une forme féline et une forme humaine. Il est plus actif l'été que l'hiver (l'hiver, sa plante "se met en veille" et produit donc moins d'énergie).
                    </p>
                </td>
            </tr>
        </table>
    </div>

    <div class="card" style="background-color: #99aeb1; border: #436b6b 2px dotted;">
        <table>
            <tr>
                <td>
                    <img src="assets/Projets/Characters/Mini_Silène.png">
                </td>
                <td>
                    <div style="display: inline;">
                        <h2 style="color : #436b6b">Silène</h2>
                    </div>
                    <p style="color:#2d4a35; width: 400px;">
                        Silène est une créature féline qui a oublié d'où elle venait. Son seul indice est son nom, qui est celui d'une fleur. Il vit à l'herboristerie et s'est auto-proclamé protecteur des lieux. Il est très proche de Verveine.
                    </p>
                </td>
            </tr>
        </table>
    </div>

    <div class="card" style="background-color: #e7e2c7; border: #3f544b 2px dotted;">
        <table>
            <tr>
                <td>
                    <img src="assets/Projets/Characters/Mini_Linja.png">
                </td>
                <td>
                    <div style="display: inline;">
                        <h2 style="color : #3f544b">Linja</h2>
                    </div>
                    <p style="color:#703e1d; width: 400px;">
                        Linja est une femme de soixante-trois ans. Elle a travaillé toute sa vie pour entretenir l'herboristerie familiale et continue de donner des coups de main de temps en temps. Son savoir est immense.
                    </p>
                </td>
            </tr>
        </table>
    </div>

    <div class="card" style="background-color: #bbd4b2; border: #ca3940 2px dotted;">
        <table>
            <tr>
                <td>
                    <img src="assets/Projets/Characters/Mini_Grimgrim.png">
                </td>
                <td>
                    <div style="display: inline;">
                        <h2 style="color : #ca3940">Grimgrim</h2>
                    </div>
                    <p style="color:#0c6012; width: 400px;">
                        Grimgrim vit en symbiose avec les plantes qui vivent sur son corps. Elle a trente-et-un ans et travaille à l'herboristerie en tant qu'employée. Esclave pendant une bonne partie de sa vie, elle ne rêve que de liberté et d'égalité entre tous. C'est une révolutionnaire convaincue ! 
                    </p>
                </td>
            </tr>
        </table>
    </div>

    <div class="card" style="background-color: #694f62; border: #342d38 2px dotted;">
        <table>
            <tr>
                <td>
                    <img src="assets/Projets/Characters/Mini_Kaosa.png">
                </td>
                <td>
                    <div style="display: inline;">
                        <h2 style="color : #342d38">Kaosa</h2>
                    </div>
                    <p style="color:#e3d6cc; width: 400px;">
                        Kaosa a vingt-cinq ans et élève les griffons de l'herboristerie. Elle est la sœur d'Ezer avec qui elle vit en ville. C'est une panthère-garou, son bâton lui permet d'utiliser la magie du vent.
                    </p>
                </td>
            </tr>
        </table>
    </div>

    <div class="card" style="background-color: #edf4f7; border: #4ca8ba 2px dotted;">
        <table>
            <tr>
                <td>
                    <img src="assets/Projets/Characters/Mini_Oun.png">
                </td>
                <td>
                    <div style="display: inline;">
                        <h2 style="color : #4ca8ba">Oun</h2>
                    </div>
                    <p style="color:#575859; width: 400px;">
                        Oun est un griffon des neiges qui est également le mâle dominant du groupe de l'herboristerie. Sa mission est de transporter des plantes et médicaments dans le pays. Il est très fier et loyal.
                    </p>
                </td>
            </tr>
        </table>
    </div>

    <div class="card" style="background-color: #f2e7df; border: #e02f70 2px dotted;">
        <table>
            <tr>
                <td>
                    <img src="assets/Projets/Characters/Mini_Smala.png">
                </td>
                <td>
                    <div style="display: inline;">
                        <h2 style="color : #e02f70">Smala</h2>
                    </div>
                    <p style="color:#1c020c; width: 400px;">
                        Smala est un griffon borgne, elle est plutôt petite pour son espèce. Elle transporte des médicaments et des plantes. Elle est docile et timide, voire un peu craintive.
                    </p>
                </td>
            </tr>
        </table>
    </div>

    <div class="card" style="background-color: #fdefd4; border: #6eb4fc 2px dotted;">
        <table>
            <tr>
                <td>
                    <img src="assets/Projets/Characters/Mini_Awoow.png">
                </td>
                <td>
                    <div style="display: inline;">
                        <h2 style="color : #6eb4fc">Awoow</h2>
                    </div>
                    <p style="color:#6870f9; width: 400px;">
                        Awoow est un griffon intelligent et malin. Il aime reproduire les sons qu'il entend. Il sert lui aussi au transport des marchandises pour l'herboristerie. 
                    </p>
                </td>
            </tr>
        </table>
    </div>
</div>

<h3>Personnels de l'orphelinat</h3>


<div class="scroll-container" style="display: flex;">     
    <div class="card" style="background-color: #597c64; border: #d1a754 2px dotted;">
        <table>
            <tr>
                <td>
                    <img src="assets/Projets/Characters/Mini_Sam.png">
                </td>
                <td>
                    <h2 style="color:#d1a754">Sam</h2>
                    <p style="color:#153424; width: 400px;">
                        Sam est la fondatrice de l'orphelinat. Elle vient d'une famille de noble et est secrètement en couple avec Alma. Elle fait beaucoup de musique et sa magie est liée au son.
                    </p>
                </td>
            </tr>
        </table>
    </div>

    <div class="card" style="background-color: #f0d1a8; border: #d67011 2px dotted;">
        <table>
            <tr>
                <td>
                    <img src="assets/Projets/Characters/Mini_Alma.png">
                </td>
                <td>
                    <h2 style="color:#d67011">Alma</h2>
                    <p style="color:#574237; width: 400px;">
                        Alma est une sorcière de vingt-six ans qui manipule la lumière. Elle est professeure à l'orphelinat. Elle vit dans une petite maison à la campagne. 
                    </p>
                </td>
            </tr>
        </table>
    </div>

    <div class="card" style="background-color: #43271b; border: #ffc400 2px dotted;">
        <table>
            <tr>
                <td>
                    <img src="assets/Projets/Characters/Mini_Médien.png">
                </td>
                <td>
                    <h2 style="color:#ffc400">Médien</h2>
                    <p style="color:#faf5dc; width: 400px;">
                        Médien est un dragon qui vit caché sous forme humaine. Il est professeur à l'orphelinat. Il a sa propre légende en tant que dragon protecteur de la ville.
                    </p>
                </td>
            </tr>
        </table>
    </div>

    <div class="card" style="background-color: #59396d; border: #b989d7 2px dotted;">
        <table>
            <tr>
                <td>
                    <img src="assets/Projets/Characters/Mini_Ezer.png">
                </td>
                <td>
                    <h2 style="color:#b989d7">Ezer</h2>
                    <p style="color:#ccdbe4; width: 400px;">
                        Ezer est surveillant de dortoir à l'orphelinat. Il est également le frère de Kaosa et de Hegal. C'est une panthère-garou qui a le pouvoir d'annuler la magie des autres. Il est joueur et aime blaguer.
                    </p>
                </td>
            </tr>
        </table>
    </div>

    <div class="card" style="background-color: #4d5454; border: #b7c3c4 2px dotted;">
        <table>
            <tr>
                <td>
                    <img src="assets/Projets/Characters/Mini_Kerme.png">
                </td>
                <td>
                    <h2 style="color:#b7c3c4">Kerme</h2>
                    <p style="color:#edf2f2; width: 400px;">
                        Kerme est surveillant de dortoir à l'orphelinat de trente-quatre ans. Il est un ancien soldat qui vient du désert, mais a décidé de changer de voie. Il manipule le sable et la poussière.
                    </p>
                </td>
            </tr>
        </table>
    </div>

    <div class="card" style="background-color: #4d4944; border: #80c9d1 2px dotted;">
        <table>
            <tr>
                <td>
                    <img src="assets/Projets/Characters/Mini_Soren.png">
                </td>
                <td>
                    <h2 style="color:#80c9d1">Soren</h2>
                    <p style="color:#c7c1b9; width: 400px;">
                        Soren est sourde-muette, elle communique avec le langage des signes. Elle s'occupe de l'entretien de l'orphelinat. Elle adore lire, notamment des romances.
                    </p>
                </td>
            </tr>
        </table>
    </div>
</div>

<h3>Enfants de l'orphelinat</h3>

<h3>Autres habitants de la ville</h3>

<h3>Divinités</h3>

