<br>
<h1 *ngIf="getLng() === 'fr'">Les contes de Félicie</h1>
<h1 *ngIf="getLng() === 'en'">Félicie's tales</h1>

<p *ngIf="getLng() === 'en'">
    English translation is not available.
</p>

<h2>Résumé</h2>
<p>
    Sam est la fondatrice d'un orphelinat qui accueille des adolescents. Elle travaille en étroite collaboration avec ses voisins : une herboristerie. Entre sorcellerie et nature, chacun porte en lui une histoire et des espoirs pour l'avenir.
</p>

<h2>Personnages</h2>

<h3>Herboristerie</h3>

<div class="scroll-container" style="display: flex;">     
    <a href="https://toyhou.se/9104346.buster?key=h98n7CM0KQKnEM5">
        <div class="card" style="background-color: #d1bd82; border: #bc2536 2px dotted;">
            <table>
                <tr>
                    <td>
                        <img src="assets/Projets/Characters/Mini_Buster.png">
                    </td>
                    <td>
                        <h2 style="color:#bc2536">Buster</h2>
                        <p style="color:#521c2a; width: 400px;">
                            Buster est un chat-garou de vingt-deux ans. Il est le propriétaire de l'herboristerie. Linja est sa grand-mère et l'aide à tenir le commerce. Il est amoureux de Verveine. Son pouvoir est de posséder neuf vies.
                        </p>
                    </td>
                </tr>
            </table>
        </div>
    </a>
    <a href="https://toyhou.se/7616837.verveine?key=SXBvZT4sH4dnsc8"> 
        <div class="card" style="background-color: #636745; border: #f6d047 2px dotted;">
            <table>
                <tr>
                    <td>
                        <img src="assets/Projets/Characters/Mini_Verveine.png">
                    </td>
                    <td>
                        <div style="display: inline;">
                            <h2 style="color : #f6d047">Verveine</h2>
                        </div>
                        <p style="color:#f3f2b2; width: 400px;">
                            Verveine est un demi-vivant, c'est-à-dire qu'il vit en symbiose avec une plante. Il possède une forme féline et une forme humaine. Il est plus actif l'été que l'hiver (l'hiver, sa plante "se met en veille" et produit donc moins d'énergie).
                        </p>
                    </td>
                </tr>
            </table>
        </div>
    </a>
    <a href="https://toyhou.se/10056759.silene?key=smORXupkzwraoTg">
        <div class="card" style="background-color: #99aeb1; border: #436b6b 2px dotted;">
            <table>
                <tr>
                    <td>
                        <img src="assets/Projets/Characters/Mini_Silène.png">
                    </td>
                    <td>
                        <div style="display: inline;">
                            <h2 style="color : #436b6b">Silène</h2>
                        </div>
                        <p style="color:#2d4a35; width: 400px;">
                            Silène est une créature féline qui a oublié d'où elle venait. Son seul indice est son nom, qui est celui d'une fleur. Il vit à l'herboristerie et s'est auto-proclamé protecteur des lieux. Il est très proche de Verveine.
                        </p>
                    </td>
                </tr>
            </table>
        </div>
    </a>
    <a href="https://toyhou.se/27521737.linja?key=zPyd0lkzKLgZtTL">
        <div class="card" style="background-color: #e7e2c7; border: #3f544b 2px dotted;">
            <table>
                <tr>
                    <td>
                        <img src="assets/Projets/Characters/Mini_Linja.png">
                    </td>
                    <td>
                        <div style="display: inline;">
                            <h2 style="color : #3f544b">Linja</h2>
                        </div>
                        <p style="color:#703e1d; width: 400px;">
                            Linja est une femme de soixante-trois ans. Elle a travaillé toute sa vie pour entretenir l'herboristerie familiale et continue de donner des coups de main de temps en temps. Son savoir est immense.
                        </p>
                    </td>
                </tr>
            </table>
        </div>
    </a>
    <a href="https://toyhou.se/6995274.grimgrim?key=Gi5W4NEUqQpMu8c">
        <div class="card" style="background-color: #bbd4b2; border: #ca3940 2px dotted;">
            <table>
                <tr>
                    <td>
                        <img src="assets/Projets/Characters/Mini_Grimgrim.png">
                    </td>
                    <td>
                        <div style="display: inline;">
                            <h2 style="color : #ca3940">Grimgrim</h2>
                        </div>
                        <p style="color:#0c6012; width: 400px;">
                            Grimgrim vit en symbiose avec les plantes qui vivent sur son corps. Elle a trente-et-un ans et travaille à l'herboristerie en tant qu'employée. Esclave pendant une bonne partie de sa vie, elle ne rêve que de liberté et d'égalité entre tous. C'est une révolutionnaire convaincue ! 
                        </p>
                    </td>
                </tr>
            </table>
        </div>
    </a>
    <a href="https://toyhou.se/7416037.kaosa?key=3SSV8e8nnMV2SPC">
        <div class="card" style="background-color: #694f62; border: #342d38 2px dotted;">
            <table>
                <tr>
                    <td>
                        <img src="assets/Projets/Characters/Mini_Kaosa.png">
                    </td>
                    <td>
                        <div style="display: inline;">
                            <h2 style="color : #342d38">Kaosa</h2>
                        </div>
                        <p style="color:#e3d6cc; width: 400px;">
                            Kaosa a vingt-cinq ans et élève les griffons de l'herboristerie. Elle est la sœur d'Ezer avec qui elle vit en ville. C'est une panthère-garou, son bâton lui permet d'utiliser la magie du vent.
                        </p>
                    </td>
                </tr>
            </table>
        </div>
    </a>
    <a href="https://toyhou.se/7295602.oun?key=5B3kUwSyAFuT4Ys">
        <div class="card" style="background-color: #edf4f7; border: #4ca8ba 2px dotted;">
            <table>
                <tr>
                    <td>
                        <img src="assets/Projets/Characters/Mini_Oun.png">
                    </td>
                    <td>
                        <div style="display: inline;">
                            <h2 style="color : #4ca8ba">Oun</h2>
                        </div>
                        <p style="color:#575859; width: 400px;">
                            Oun est un griffon des neiges qui est également le mâle dominant du groupe de l'herboristerie. Sa mission est de transporter des plantes et médicaments dans le pays. Il est très fier et loyal.
                        </p>
                    </td>
                </tr>
            </table>
        </div>
    </a>
    <a href="https://toyhou.se/5136960.smala?key=VB07K9sfNNGFnXk">
        <div class="card" style="background-color: #f2e7df; border: #e02f70 2px dotted;">
            <table>
                <tr>
                    <td>
                        <img src="assets/Projets/Characters/Mini_Smala.png">
                    </td>
                    <td>
                        <div style="display: inline;">
                            <h2 style="color : #e02f70">Smala</h2>
                        </div>
                        <p style="color:#1c020c; width: 400px;">
                            Smala est un griffon borgne, elle est plutôt petite pour son espèce. Elle transporte des médicaments et des plantes. Elle est docile et timide, voire un peu craintive.
                        </p>
                    </td>
                </tr>
            </table>
        </div>
    </a>
    <a href="https://toyhou.se/26913389.awoow?key=n2XB30ANpGU2J3K">
        <div class="card" style="background-color: #fdefd4; border: #6eb4fc 2px dotted;">
            <table>
                <tr>
                    <td>
                        <img src="assets/Projets/Characters/Mini_Awoow.png">
                    </td>
                    <td>
                        <div style="display: inline;">
                            <h2 style="color : #6eb4fc">Awoow</h2>
                        </div>
                        <p style="color:#6870f9; width: 400px;">
                            Awoow est un griffon intelligent et malin. Il aime reproduire les sons qu'il entend. Il sert lui aussi au transport des marchandises pour l'herboristerie. 
                        </p>
                    </td>
                </tr>
            </table>
        </div>
    </a>
</div>

<h3>Personnels de l'orphelinat</h3>

<div class="scroll-container" style="display: flex;">
    <a href="https://toyhou.se/10378585.sam?key=zMb6UY7qi1K4ixQ">
        <div class="card" style="background-color: #597c64; border: #d1a754 2px dotted;">
            <table>
                <tr>
                    <td>
                        <img src="assets/Projets/Characters/Mini_Sam.png">
                    </td>
                    <td>
                        <h2 style="color:#d1a754">Sam</h2>
                        <p style="color:#153424; width: 400px;">
                            Sam est la fondatrice de l'orphelinat. Elle vient d'une famille de noble et est secrètement en couple avec Alma. Elle fait beaucoup de musique et sa magie est liée au son.
                        </p>
                    </td>
                </tr>
            </table>
        </div>
    </a>
    <a href="https://toyhou.se/21640616.alma?key=pDlz2dgsfBuTSBR">
        <div class="card" style="background-color: #f0d1a8; border: #d67011 2px dotted;">
            <table>
                <tr>
                    <td>
                        <img src="assets/Projets/Characters/Mini_Alma.png">
                    </td>
                    <td>
                        <h2 style="color:#d67011">Alma</h2>
                        <p style="color:#574237; width: 400px;">
                            Alma est une sorcière de vingt-six ans qui manipule la lumière. Elle est professeure à l'orphelinat. Elle vit dans une petite maison à la campagne. 
                        </p>
                    </td>
                </tr>
            </table>
        </div>
    </a>
    <a href="https://toyhou.se/9451425.medien?key=88nH1gXPgssa2Yy">
        <div class="card" style="background-color: #43271b; border: #ffc400 2px dotted;">
            <table>
                <tr>
                    <td>
                        <img src="assets/Projets/Characters/Mini_Médien.png">
                    </td>
                    <td>
                        <h2 style="color:#ffc400">Médien</h2>
                        <p style="color:#faf5dc; width: 400px;">
                            Médien est un dragon qui vit caché sous forme humaine. Il est professeur à l'orphelinat. Il a sa propre légende en tant que dragon protecteur de la ville.
                        </p>
                    </td>
                </tr>
            </table>
        </div>
    </a>
    <a href="https://toyhou.se/6734964.ezer?key=zeQ5I7LGDcwD5Ys">
        <div class="card" style="background-color: #59396d; border: #b989d7 2px dotted;">
            <table>
                <tr>
                    <td>
                        <img src="assets/Projets/Characters/Mini_Ezer.png">
                    </td>
                    <td>
                        <h2 style="color:#b989d7">Ezer</h2>
                        <p style="color:#ccdbe4; width: 400px;">
                            Ezer est surveillant de dortoir à l'orphelinat. Il est également le frère de Kaosa et de Hegal. C'est une panthère-garou qui a le pouvoir d'annuler la magie des autres. Il est joueur et aime blaguer.
                        </p>
                    </td>
                </tr>
            </table>
        </div>
    </a>
    <a href="https://toyhou.se/7256185.kerme?key=lFdsoDrOHmv0Sqg">
        <div class="card" style="background-color: #4d5454; border: #b7c3c4 2px dotted;">
            <table>
                <tr>
                    <td>
                        <img src="assets/Projets/Characters/Mini_Kerme.png">
                    </td>
                    <td>
                        <h2 style="color:#b7c3c4">Kerme</h2>
                        <p style="color:#edf2f2; width: 400px;">
                            Kerme est surveillant de dortoir à l'orphelinat de trente-quatre ans. Il est un ancien soldat qui vient du désert, mais a décidé de changer de voie. Il manipule le sable et la poussière.
                        </p>
                    </td>
                </tr>
            </table>
        </div>
    </a>
    <a href="https://toyhou.se/10642304.soren?key=6wcytKYtRwQ6ZVS">
        <div class="card" style="background-color: #4d4944; border: #80c9d1 2px dotted;">
            <table>
                <tr>
                    <td>
                        <img src="assets/Projets/Characters/Mini_Soren.png">
                    </td>
                    <td>
                        <h2 style="color:#80c9d1">Soren</h2>
                        <p style="color:#c7c1b9; width: 400px;">
                            Soren est sourde-muette, elle communique avec le langage des signes. Elle s'occupe de l'entretien de l'orphelinat. Elle adore lire, notamment des romances.
                        </p>
                    </td>
                </tr>
            </table>
        </div>
    </a>
</div>

<h3>Enfants de l'orphelinat</h3>
<div class="scroll-container" style="display: flex;">
    <a href="https://toyhou.se/8761725.mielle?key=Qg7j6RbA8HiZXQW">
        <div class="card" style="background-color: #bda9cf; border: #6e0e21 2px dotted;">
            <table>
                <tr>
                    <td>
                        <img src="assets/Projets/Characters/Mini_Mielle.png">
                    </td>
                    <td>
                        <h2 style="color:#6e0e21">Mielle</h2>
                        <p style="color:#1c0a0e; width: 400px;">
                            Mielle est un enfant de douze ans. Ol vient d'arriver à l'orphelinat, ol a beaucoup d'imagination et aime créer des histoires. Ol est intersexe.
                        </p>
                    </td>
                </tr>
            </table>
        </div>
    </a>
    <a href="https://toyhou.se/26028799.haarch?key=5v80qCDXqeO7qlm">
        <div class="card" style="background-color: #adb5a5; border: #756145 2px dotted;">
            <table>
                <tr>
                    <td>
                        <img src="assets/Projets/Characters/Mini_Haarch.png">
                    </td>
                    <td>
                        <h2 style="color:#756145">Haarch</h2>
                        <p style="color:#453443; width: 400px;">
                            Haarch est une jeune harpie qui vient d'arriver à l'orphelinat. Elle a douze ans, bien qu'elle en parait moins. Elle est très timide et craintive.
                        </p>
                    </td>
                </tr>
            </table>
        </div>
    </a>
    <a href="https://toyhou.se/26069801.meliana?key=m0JWsrTBtFDvhdy">
        <div class="card" style="background-color: #d0d9b6; border: #54b32e 2px dotted;">
            <table>
                <tr>
                    <td>
                        <img src="assets/Projets/Characters/Mini_Meliana.png">
                    </td>
                    <td>
                        <h2 style="color:#54b32e">Meliana</h2>
                        <p style="color:#325743; width: 400px;">
                            Meliana a quatorze ans mais parait plus âgée. Elle porte beaucoup d'intérêt à la sorcellerie et aux poisons. C'est une méduse qui a le pouvoir de communiquer avec les serpents.
                        </p>
                    </td>
                </tr>
            </table>
        </div>
    </a>
    <a href="https://toyhou.se/12377777.cybele?key=qRr7zgGeqhGKW2g">
        <div class="card" style="background-color: #f5f2ed; border: #deb159 2px dotted;">
            <table>
                <tr>
                    <td>
                        <img src="assets/Projets/Characters/Mini_Cybèle.png">
                    </td>
                    <td>
                        <h2 style="color:#deb159">Cybèle</h2>
                        <p style="color:#362e1f; width: 400px;">
                            Cybèle est un chat-garou de quinze ans. Elle peut lire les pensées de ceux qui l'entourent, mais ne contrôle pas ce pouvoir. Elle est franche et taciturne.
                        </p>
                    </td>
                </tr>
            </table>
        </div>
    </a>
    <a href="https://toyhou.se/9337631.fushu?key=OuGhPAmR4M20OIe">
        <div class="card" style="background-color: #3b2428; border: #e6223c 2px dotted;">
            <table>
                <tr>
                    <td>
                        <img src="assets/Projets/Characters/Mini_Fushu.png">
                    </td>
                    <td>
                        <h2 style="color:#e6223c">Fushu</h2>
                        <p style="color:#e6d7ba; width: 400px;">
                            Fushu a quinze ans, c'est une demi-dragonne qui a hérité de la puissance magique de son père. Elle est joyeuse, impulsive et énergique.
                        </p>
                    </td>
                </tr>
            </table>
        </div>
    </a>
    <a href="https://toyhou.se/6735110.txiki?key=FqPQn28tLD7Eu39">
        <div class="card" style="background-color: #dbc6b4; border: #e06382 2px dotted;">
            <table>
                <tr>
                    <td>
                        <img src="assets/Projets/Characters/Mini_Txiki.png">
                    </td>
                    <td>
                        <h2 style="color:#e06382">Txiki</h2>
                        <p style="color:#78472e; width: 400px;">
                            Txiki est un jeune bègue de seize ans. Il est très grand et souhaite devenir fermier. Il a la capacité de prévoir la météo et il est doué au tir à l'arc. Il est timide, discret et réservé bien que sa carrure ne passe pas inaperçue.
                        </p>
                    </td>
                </tr>
            </table>
        </div>
    </a>
    <a href="https://toyhou.se/6734912.azken?key=yKaVb9HfDI0NrFD">
        <div class="card" style="background-color: #e4cba3; border: #8f913e 2px dotted;">
            <table>
                <tr>
                    <td>
                        <img src="assets/Projets/Characters/Mini_Azken.png">
                    </td>
                    <td>
                        <h2 style="color:#8f913e">Azken</h2>
                        <p style="color:#587837; width: 400px;">
                            Azken est un elfe de dix-sept ans. Il est calé en botanique et en médecine mais aimerais partir en mer pour explorer le monde. Il ne sait pas naviguer, sa magie est lié à l'eau. Il a des sentiments pour Merblanche.
                        </p>
                    </td>
                </tr>
            </table>
        </div>
    </a>
    <a href="https://toyhou.se/13592913.thoo?key=9dAl7sCkayeObXS">
        <div class="card" style="background-color: #fadbbe; border: #a1b472 2px dotted;">
            <table>
                <tr>
                    <td>
                        <img src="assets/Projets/Characters/Mini_Thoo.png">
                    </td>
                    <td>
                        <h2 style="color:#a1b472">Thoo</h2>
                        <p style="color:#5f7f58; width: 400px;">
                            Thoo est une dragonne de dix-sept ans. Elle a été recueillie par Médien et vit à l'orphelinat sous forme humaine depuis. Elle déteste les humains et possède le pouvoir d'augmenter la croissance des plantes.
                        </p>
                    </td>
                </tr>
            </table>
        </div>
    </a>
    <a href="https://toyhou.se/2897795.milo?key=M4UYWkzZRzcZfg2">
        <div class="card" style="background-color: #fef7da; border: #df5553 2px dotted;">
            <table>
                <tr>
                    <td>
                        <img src="assets/Projets/Characters/Mini_Milo.png">
                    </td>
                    <td>
                        <h2 style="color:#df5553">Milo</h2>
                        <p style="color:#292e56; width: 400px;">
                            Milo est un jeune chat-garou de dix-sept ans. Il devrait bientôt partir de l'orphelinat pour rejoindre son cher et tendre Azur. Il souhaite devenir boulanger. Il est calme et gentil, sûrement trop. Il manque un peu de confiance en lui-même.
                        </p>
                    </td>
                </tr>
            </table>
        </div>
    </a>
    <a href="https://toyhou.se/6735150.pigne?key=D0Fp4N4VLe4Uguo">
        <div class="card" style="background-color: #fffbef; border: #ee8c41 2px dotted;">
            <table>
                <tr>
                    <td>
                        <img src="assets/Projets/Characters/Mini_Pigné.png">
                    </td>
                    <td>
                        <h2 style="color:#ee8c41">Pigné</h2>
                        <p style="color:#423e33; width: 400px;">
                            Pigné est un jeune dragon qui est né malformé : il n'a pas d'ailes. Les parties lumineuses de son corps changent de couleurs avec ses émotions. Son pouvoir lui permet de cristaliser la magie. Il tient compagnie aux enfants de l'orphelinat.
                        </p>
                    </td>
                </tr>
            </table>
        </div>
    </a>
</div>

<h3>Autres habitants de la ville</h3>

<div class="scroll-container" style="display: flex;">     
    <a href="https://toyhou.se/7457285.zorigaitza?key=oMIXkRfyjRwFPc0">
        <div class="card" style="background-color: #523f33; border: #428769 2px dotted;">
            <table>
                <tr>
                    <td>
                        <img src="assets/Projets/Characters/Mini_Zorigaitza.png">
                    </td>
                    <td>
                        <h2 style="color:#428769">Zorigaitza</h2>
                        <p style="color:#e0dab4; width: 400px;">
                            Zorigaitza est le maire de la ville. Il a quarante-et-un ans et consacre tout son temps aux affaires politiques. Il est plutôt apprécié de ses concitoyens. Il se bat à l'épée ou au sable et peut cracher du feu. Ikimi est sa monture de fonction.
                        </p>
                    </td>
                </tr>
            </table>
        </div>
    </a>
    <a href="https://toyhou.se/28286274.ikimi?key=mNNBAJYovfyWraU"> 
        <div class="card" style="background-color: #fadbbb; border: #a32129 2px dotted;">
            <table>
                <tr>
                    <td>
                        <img src="assets/Projets/Characters/Mini_Ikimi.png">
                    </td>
                    <td>
                        <div style="display: inline;">
                            <h2 style="color : #a32129">Ikimi</h2>
                        </div>
                        <p style="color:#42231e; width: 400px;">
                            Ikimi est un griffon qui sert au déplacement diplomatique. Elle est très grande et sa couleur vive en font une monture d'exception ! Elle est très fière et affectueuse, elle est proche de Zorigaitza.
                        </p>
                    </td>
                </tr>
            </table>
        </div>
    </a>
    <a href="https://toyhou.se/2189998.azur?key=8fOqN60ROnTKbxt">
        <div class="card" style="background-color: #e0ebed; border: #8ab9d7 2px dotted;">
            <table>
                <tr>
                    <td>
                        <img src="assets/Projets/Characters/Mini_Azur.png">
                    </td>
                    <td>
                        <div style="display: inline;">
                            <h2 style="color : #8ab9d7">Azur</h2>
                        </div>
                        <p style="color:#6a6375; width: 400px;">
                            Azur est un jeune homme de dix-huit ans. Il a quitté l'orphelinat il y a peu pour monter sa boutique. Il vend des fleurs et du thé. Il est en couple avec Milo.  
                        </p>
                    </td>
                </tr>
            </table>
        </div>
    </a>
    <a href="https://toyhou.se/6763773.hegal?key=ZdVhJcntRPPlxKj">
        <div class="card" style="background-color: #fcfaf7; border: #e52323 2px dotted;">
            <table>
                <tr>
                    <td>
                        <img src="assets/Projets/Characters/Mini_Hegal.png">
                    </td>
                    <td>
                        <div style="display: inline;">
                            <h2 style="color : #e52323">Hegal</h2>
                        </div>
                        <p style="color:#344341; width: 400px;">
                            Hegal est une chimère de vingt-trois ans. Elle est asexuée. Elle peut se rendre invisible et communique par télépathie. Elle est sérieuse et prudente. C'est la sœur adoptive de Ezer.
                        </p>
                    </td>
                </tr>
            </table>
        </div>
    </a>
    <a href="https://toyhou.se/26001426.merblanche?key=h2966KEJ0wxzFp8">
        <div class="card" style="background-color: #91a4a8; border: #4f5c73 2px dotted;">
            <table>
                <tr>
                    <td>
                        <img src="assets/Projets/Characters/Mini_Merblanche.png">
                    </td>
                    <td>
                        <div style="display: inline;">
                            <h2 style="color : #4f5c73">Merblanche</h2>
                        </div>
                        <p style="color:#f2fbfc; width: 400px;">
                            Merblanche est une elfe de dix-huit ans. Elle est pêcheuse dans un petit équipage et nourrit sa famille grâce à son travail. Elle est discrète, mais peut montrer un grand courage face aux situations difficiles.
                        </p>
                    </td>
                </tr>
            </table>
        </div>
    </a>
    <a href="https://toyhou.se/27572514.zara?key=tSZIOutVG9sl3YW ">
        <div class="card" style="background-color: #f7e0c8; border: #965a45 2px dotted;">
            <table>
                <tr>
                    <td>
                        <img src="assets/Projets/Characters/Mini_Zara.png">
                    </td>
                    <td>
                        <div style="display: inline;">
                            <h2 style="color : #965a45">Zara</h2>
                        </div>
                        <p style="color:#382f2b; width: 400px;">
                            Zara est la factrice locale, elle a trente-deux ans et est la sœur jumelle de Ziri. Très sociable, elle connait tout le monde. Brave et fière, elle ne se laisse pas marcher sur les pieds.
                        </p>
                    </td>
                </tr>
            </table>
        </div>
    </a>
</div>

<h3>Divinités</h3>

<div class="scroll-container" style="display: flex;">     
    <a href="https://toyhou.se/11030190.hedychium?key=dXh6NdZOq3gZ1qK">
        <div class="card" style="background-color: #364038; border: #fd6c4d 2px dotted;">
            <table>
                <tr>
                    <td>
                        <img src="assets/Projets/Characters/Mini_Hedychium.png">
                    </td>
                    <td>
                        <h2 style="color:#fd6c4d">Hedychium</h2>
                        <p style="color:#f2ecbb; width: 400px;">
                            Hedychium est une divinité protectrice qui est crainte pour sa férocité. Elle représente la nature sauvage et indomptable.
                        </p>
                    </td>
                </tr>
            </table>
        </div>
    </a>
    <a href="https://toyhou.se/4799029.seban?key=ri7zRM2lmtUF83X"> 
        <div class="card" style="background-color: #f5f2ed; border: #355732 2px dotted;">
            <table>
                <tr>
                    <td>
                        <img src="assets/Projets/Characters/Mini_Seban.png">
                    </td>
                    <td>
                        <div style="display: inline;">
                            <h2 style="color : #355732">Seban</h2>
                        </div>
                        <p style="color:#644934; width: 400px;">
                            Seban est le roi des esprits et une divinité qui symbolise l'hiver, le froid et la neige. Son rôle est de guider les âmes égarées. Il est particulièrement vénéré dans les montagnes.
                        </p>
                    </td>
                </tr>
            </table>
        </div>
    </a>
</div>