<br>
<h1>Inktober 2024</h1>

<br>
<p *ngIf="getLng() === 'fr'">
    Je vous très heureuse de vous présenter mon premier Inktober complet !! Je suis quelqu'un qui a beaucoup de mal à finir ses projets alors c'est une grande réussite pour moi et je suis plutôt satisfaite de la qualité de mon travail.
    <br><br>
    Tous les personnages que vous allez voir apartiennent à fyrenos, qui a en retour dessiné mes personnages tout au long du mois d'octobre pour son propre Inktober ! Je vous invite à aller jeter un coup d'œil à ses travaux, vous ne serez pas déçus !
    <br><br>
    Sur ce, je vous laisse contempler la suite !
</p>
<p *ngIf="getLng() === 'en'">
    I'm happy to show you my very first completed Inktober !! I tend to struggle to complete my projects so it's a huge success to me ! And I'm pretty satisfied with the quality of my work.
    <br><br>
    All the characters depicted belong to fyrenos, who drew my own characters during the whole month of October for her Inktober challenge. Please, go check her work, she's such a wonderful artist !
    <br><br>
    I hope you will enjoy scrolling through my pieces !
</p>


<h2 *ngIf="getLng() === 'fr'">Jour 1 : Sac à dos</h2>
<h2 *ngIf="getLng() === 'en'">Day 1 : Backpack</h2>
<p *ngIf="getLng() === 'fr'">
    Les sacs à dos sont trop souvent oubliés par leur propriétaire, provoquant de graves conséquences ! Cela va de la chute en dépression du sac à la chute de rochers du propriétaire. Pour prévenir de ces risques, n'oubliez pas de vous équipez de votre sac à dos avant chaque excursion !
    <br>
    Pour 150€ de plus, votre vendeur vous fournira l'ami qui rattrapera votre sac lors de la chute.
</p>
<img src="assets/Projets/Inktober2024/1.png">


<h2 *ngIf="getLng() === 'fr'">Jour 2 : Découvrir</h2>
<h2 *ngIf="getLng() === 'en'">Day 2 : Discover</h2>
<p *ngIf="getLng() === 'fr'">
    Et voici une jeune sorcière qui découvre son familier, Enton la chauve-souris, dans une séance de magie !
</p>
<img src="assets/Projets/Inktober2024/2.png">


<h2 *ngIf="getLng() === 'fr'">Jour 3 : Bottes</h2>
<h2 *ngIf="getLng() === 'en'">Day 3 : Boots</h2>
<p *ngIf="getLng() === 'fr'">
    Un être mignon et machiavélique a trouvé la paire de bottes ultimes ! Dommage que ses grandes griffes ne rentrent pas.
</p>
<img src="assets/Projets/Inktober2024/3.png">

<h2 *ngIf="getLng() === 'fr'">Jour 4 : Exotique</h2>
<h2 *ngIf="getLng() === 'en'">Day 4 : Exotic</h2>
<p *ngIf="getLng() === 'fr'">
    Ou la naissance du running gag de cet Inktober !
    <br>
    J'aime beaucoup ce dessin ! J'ai profité de cet événement pour tester de nouveaux pinceaux et celui-ci me plait bien !
</p>
<img src="assets/Projets/Inktober2024/4.png">

<h2 *ngIf="getLng() === 'fr'">Jour 5 : Jumelles</h2>
<h2 *ngIf="getLng() === 'en'">Day 5 : Binoculars</h2>
<p *ngIf="getLng() === 'fr'">
    J'aime bien Salmacis et son côté sarcastique !
</p>
<img src="assets/Projets/Inktober2024/5.png">

<h2 *ngIf="getLng() === 'fr'">Jour 6 : Randonnée</h2>
<h2 *ngIf="getLng() === 'en'">Day 6 : Trek</h2>
<p *ngIf="getLng() === 'fr'">
    Je n'étais pas très inspiré pour celui-ci. Surtout que le thème du jour est proche de celui du huit. 
</p>
<img src="assets/Projets/Inktober2024/6.png">

<h2 *ngIf="getLng() === 'fr'">Jour 7 : Passeport</h2>
<h2 *ngIf="getLng() === 'en'">Day 7 : Passport</h2>
<p *ngIf="getLng() === 'fr'">
    Qui n'a pas déjà galéré à faire des démarches ? Notons cette jolie souris rose.
</p>
<img src="assets/Projets/Inktober2024/7.png">

<h2 *ngIf="getLng() === 'fr'">Jour 8 : Marche</h2>
<h2 *ngIf="getLng() === 'en'">Day 8 : Hike</h2>
<p *ngIf="getLng() === 'fr'">
    Pas facile de ramener les courses... heureusement que la coatch Lochette est dans la place !
</p>
<img src="assets/Projets/Inktober2024/8.png">

<h2 *ngIf="getLng() === 'fr'">Jour 9 : Soleil</h2>
<h2 *ngIf="getLng() === 'en'">Day 9 : Sun</h2>
<p *ngIf="getLng() === 'fr'">
    Profitez du sourire de Shungite, ça n'arrive pas souvent !
</p>
<img src="assets/Projets/Inktober2024/9.png">

<h2 *ngIf="getLng() === 'fr'">Jour 10 : Nomade</h2>
<h2 *ngIf="getLng() === 'en'">Day 10 : Nomadic</h2>
<p *ngIf="getLng() === 'fr'">
    Je n'étais pas très inspiré pour celui-ci alors je suis parti sur l'idée du camping.
</p>
<img src="assets/Projets/Inktober2024/10.png">

<h2 *ngIf="getLng() === 'fr'">Jour 11 : En-cas</h2>
<h2 *ngIf="getLng() === 'en'">Day 11 : Snacks</h2>
<p *ngIf="getLng() === 'fr'">
    Qui veut goûter les bonbons de Salmacis ? :)
</p>
<img src="assets/Projets/Inktober2024/11.png">

<h2 *ngIf="getLng() === 'fr'">Jour 12 : A distance</h2>
<h2 *ngIf="getLng() === 'en'">Day 12 : Remote</h2>
<p *ngIf="getLng() === 'fr'">
    Au lit les petits ! Fini le Marsupilami !
</p>
<img src="assets/Projets/Inktober2024/12.png">

<h2 *ngIf="getLng() === 'fr'">Jour 13 : Horizon</h2>
<h2 *ngIf="getLng() === 'en'">Day 13 : Horizon</h2>
<p *ngIf="getLng() === 'fr'">
    Petit coucher de soleil au bord de la mer.
</p>
<img src="assets/Projets/Inktober2024/13.png">

<h2 *ngIf="getLng() === 'fr'">Jour 14 : Errer</h2>
<h2 *ngIf="getLng() === 'en'">Day 14 : Roam</h2>
<p *ngIf="getLng() === 'fr'">
    Shungite est de sortie ! 
</p>
<img src="assets/Projets/Inktober2024/14.png">

<h2 *ngIf="getLng() === 'fr'">Jour 15 : Guide de voyage</h2>
<h2 *ngIf="getLng() === 'en'">Day 15 : Guidebook</h2>
<p *ngIf="getLng() === 'fr'">
    Ou comment réveiller les traumatismes de Shungite.
</p>
<img src="assets/Projets/Inktober2024/15.png">

<h2 *ngIf="getLng() === 'fr'">Jour 16 : Crasseux</h2>
<h2 *ngIf="getLng() === 'en'">Day 16 : Grungy</h2>
<p *ngIf="getLng() === 'fr'">
    Quel intrépide n'a jamais sauté dans la boue ? :D
</p>
<img src="assets/Projets/Inktober2024/16.png">

<h2 *ngIf="getLng() === 'fr'">Jour 17 : Journal</h2>
<h2 *ngIf="getLng() === 'en'">Day 17 : Journal</h2>
<p *ngIf="getLng() === 'fr'">
    Mais qu'est donc en train d'écrire notre limace préférée ?
</p>
<img src="assets/Projets/Inktober2024/17.png">

<h2 *ngIf="getLng() === 'fr'">Jour 18 : Conduire</h2>
<h2 *ngIf="getLng() === 'en'">Day 18 : Drive</h2>
<p *ngIf="getLng() === 'fr'">
    Je vous rassure, c'est la voiture qui devrait faire attention à Enton... la légende raconte que c'est elle qui a appris à Lochette comment envoyer des véhicules dans le décor :D
</p>
<img src="assets/Projets/Inktober2024/18.png">

<h2 *ngIf="getLng() === 'fr'">Jour 19 : Crête</h2>
<h2 *ngIf="getLng() === 'en'">Day 19 : Ridge</h2>
<p *ngIf="getLng() === 'fr'">
    Je ne voyais pas trop quoi faire de ce thème sans le prendre littéralement :')
</p>
<img src="assets/Projets/Inktober2024/19.png">

<h2 *ngIf="getLng() === 'fr'">Jour 20 : Inexploré</h2>
<h2 *ngIf="getLng() === 'en'">Day 20 : Uncharted</h2>
<p *ngIf="getLng() === 'fr'">
    Ah... les égouts, un endroit bien mystérieux pour le commun des mortels ! 
</p>
<img src="assets/Projets/Inktober2024/20.png">

<h2 *ngIf="getLng() === 'fr'">Jour 21 : Rhinocéros</h2>
<h2 *ngIf="getLng() === 'en'">Day 21 : Rhinoceros</h2>
<p *ngIf="getLng() === 'fr'">
    Et voici un nouvel ami magique pour Lochette !
</p>
<img src="assets/Projets/Inktober2024/21.png">

<h2 *ngIf="getLng() === 'fr'">Jour 22 : Camp</h2>
<h2 *ngIf="getLng() === 'en'">Day 22 : Camp</h2>
<p *ngIf="getLng() === 'fr'">
    Que de mésaventures pour Shungite ! Son supplice n'est pas encore arrivé à son terme !
</p>
<img src="assets/Projets/Inktober2024/22.png">

<h2 *ngIf="getLng() === 'fr'">Jour 23 : Rouille</h2>
<h2 *ngIf="getLng() === 'en'">Day 23 : Rouille</h2>
<p *ngIf="getLng() === 'fr'">
    J'aime bien les couleurs de celui-ci, ça change un peu du reste.
</p>
<img src="assets/Projets/Inktober2024/23.png">

<h2 *ngIf="getLng() === 'fr'">Jour 24 : Expédition</h2>
<h2 *ngIf="getLng() === 'en'">Day 24 : Expedition</h2>
<p *ngIf="getLng() === 'fr'">
    Mais où vont donc nos amis ? 
</p>
<img src="assets/Projets/Inktober2024/24.png">

<br><br><br><br>