<h1 id="new">_______ <br><br>Nouveautés</h1>

<table>
    <tr>
        <td>
            <img src="assets/MAJ3.png" alt="MAJ 3" class="roundimg">
        </td>
        <td>
            <h2 class="left">01/05/2024 - Le changement de langue est opérationnel ! </h2>
            Les anglophones sont aussi de la partie de la fête maintenant... ou presque ! Le bouton pour changer de langue fonctionne mais je n'ai pas encore traduit les pages ! C'est en cours !<br><br>Joyeuses fêtes du travail à tous !
        </td>
    </tr>

    <tr>
        <td>
            <img src="assets/MAJ2.png" alt="MAJ 2" class="roundimg">
        </td>
        <td>
            <h2 class="left">29/04/2024 - La page des commandes et la galerie sont opérationnelles !</h2>
        La page des commandes est complète ! La galerie s'affiche correctement ! Les choses pourraient sans doute être mieux mais je suis contente du résultat actuel. C'est suffisant pour que je n'ai pas honte de montrer ce site web. La vue mobile a été améliorée également ! N'hésitez pas à me faire un retour !
        </td>
    </tr>

    <tr>
        <td>
            <img src="assets/MAJ1.png" alt="MAJ 1" class="roundimg">
        </td>
        <td>
            <h2 class="left">28/04/2024 - Le site est en ligne !</h2>
            Youhou ! Tout le monde peut consulter les pages du site. Des petits ajustements sont encore à faire et seule la page d'accueil est faite, mais c'est un début ! La version pour téléphone est horrible. Je m'occuperai de la partie responsive un jour, c'est promis.
        </td>
    </tr>
</table>