<h1 *ngIf="getLng() == 'en'">_______ <br><br>Client reviews</h1>
<h1 *ngIf="getLng() == 'fr'">_______ <br><br>Avis des clients</h1>

<div class="scroll-container">
    <div><app-reviewsingle clientname="IronyMobile" clientlink="https://toyhou.se/IronyMobile" type="Flat full body artwork" [note]="5" comment="It was well done; the delivery was prompt and the details requested were included." ></app-reviewsingle></div>

    <div><app-reviewsingle clientname="thebeanishboy" clientlink="https://toyhou.se/thebeanishboy" type="Mystery artwork" [note]="5" comment="The art is amazing, and TAT was quick, and Lumen was such a sweetheart the entire time!! I absolutely recommend commissioning, I know I will again!" ></app-reviewsingle></div>

    <div><app-reviewsingle clientname="sundust8" clientlink="https://toyhou.se/sundust8" type="Mystery artwork" [note]="5" comment="Absolutely beautiful art of one my bird ocs, detailed and very colorful. Definitely recommend and will commission again. " ></app-reviewsingle></div>

    <div><app-reviewsingle clientname="Amystery0" clientlink="https://toyhou.se/Amystery0" type="Mystery artwork x2" [note]="5" comment="very quick tat aND I got two SUUUUPER cute and cool art pieces of my two (and a half lol) characters, one with super cool magical effects and the other with a really unique pose and character interaction!! I absolutely adore it! Thanks again~" ></app-reviewsingle></div>

    <div><app-reviewsingle clientname="levicatmint" clientlink="https://toyhou.se/levicatmint" type="Mystery artwork with two characters" [note]="5" comment="very quick tat, and the art is so cute! they put a lot of thought and detail into the dynamic of the characters and their appearances :)" ></app-reviewsingle></div>
</div>