<h1 id="tos">_______ <br><br>Termes de contrat</h1>
<p>
    Le client désigne la commanditaire (vous).
    <br>
    L'artiste désigne la personne qui remplit la commande (moi).
    <br><br>
    Toutes modifications des termes faites à la demande du client peuvent être sujettes à des frais supplémentaires. Celles-ci doivent être demandées avant la réalisation du sketch !
</p>
<h2>Général</h2>
<p>
    Le client s'engage en tant que personne majeure, jouissant de tous ses droits légaux. Aucune commission venant d'un mineur non émancipé ne sera acceptée par l'artiste.
    <br><br>
    L'artiste s'engage à communiquer régulièrement avec le client et à répondre dans des délais raisonnables.
    <br><br>
    L'artiste accepte de dessiner des humains, des humanoïdes, des anthropomorphes, des animaux et des végétaux. L'artiste ne dessinera pas de contenu dit "gore". L'artiste peut dessiner du contenu à caractère sexuel.
</p>
<h2>Livraison de l'œuvre</h2>
<p>
    L'artiste s'engage à livrer l'œuvre dans des délais raisonnables, les délais écrits plus haut étant des délais estimés. Si ce délai risque d'être dépassé, l'artiste en notifiera le client.
    <br><br>
    A l'issue de la commande, le client recevra un fichier image (.png) ou un fichier d'image animée (.gif). A la requête du client, l'artiste peut également envoyer une vidéo de la réalisation accélérée du dessin (time lapse).
    <br><br>
    Une fois la commande réceptionnée et validée, le client peut laisser une revue de son experience.
</p>
<br>
<h2>Paiement</h2>
<p>
    Le prix peut varier selon la complexité du personnage. Le prix final sera fixé avant que l'artiste ne commencer le dessin et ne changera pas (sauf condition particulière décrite dans le présent contrat).
    <br><br>
    Le paiement s'effectue via PayPal. Le paiement d'une commande engage le client et l'artiste à respecter le présent contrat.
    <br><br>
    L'artiste ne commence pas à travailler sur une commande tant qu'il n'a pas reçu le paiement complet pour celle-ci. Les frais liés au service de paiement sont à la charge du client.
    <br>
    Si le montant excède 100€, le client peut payer en plusieurs fois mais l'artiste demandera au moins 50% du montant total avant de commencer à travailler et la totalité du paiement devra être envoyé avant la coloration de l'illustration.
    <br><br>
    Dans le cas où l'artiste se trouve dans l'impossibilité de remplir la demande du client à cause des raisons suivantes : problème de santé, délai trop long (plus de deux fois les délais estimés), dégradation du matériel ; l'artiste s'engage à le rembourser entièrement. 
    Aucun remboursement ne sera effectué à la demande du client une fois le sketch envoyé.
</p>
<br>
<h2>Utilisation de l'œuvre</h2>
<p>
    Les œuvres réalisées ne peuvent pas être utilisées pour un usage commercial. Toutes les utilisations qui pourraient rapporter de l'argent au client sont interdites. Seul un usage personnel est autorisé.
    <br>Il est également interdit d'utiliser le produit final ou les progrès envoyés pour entraîner une intelligence artificielle ou créer des NFT sans l'accord écrit de l'artiste.
    <br><br>
    L'artiste se réserve le droit de poster les œuvres commandées sur ses réseaux pour promouvoir son activité. Le client peut cependant demander de garder l'œuvre privée pendant un certain temps (dans le cas où s'agirait d'un cadeau par exemple).
</p>
<br>
<h2>Edition de l'œuvre</h2>
<p>
    Le client peut demander le progrès de l'artiste sur sa commande à tout moment. Le client peut alors demander des changements ou des modifications. Le client peut demander des modifications à cinq reprises maximum. Au-delà, des frais supplémentaires peuvent être demandés par l'artiste.
    <br><br>
    L'artiste enverra toujours un sketch pour validation au client. Il peut également envoyer les autres étapes de son travail à la demande du client ou s'il le juge nécessaire.
    <br><br>
    Si un progrès envoyé n'obtient aucune réponse de la part du client dans les deux jours, il sera considéré comme validé.
    <br><br>
    Une fois le produit final validé par le client, plus aucune édition ne sera faite par l'artiste. Le client est autorisé à modifier l'œuvre si l'artiste est crédité correctement.
</p>
<br><br>