<br><br>
<p>Vous pouvez afficher les images en grand en les ouvrant dans un nouvel onglet.</p>
<br>

<h1 id="sketchpage">Sketch pages</h1>
<div class="wrap">
    <div>
        <app-exposition img="assets/Galerie/001.png" title="Médien & Zorigaitza" legende="Cela fait une éternité que je n'avais dessiné Zorigaitza ! Je suis en train de recycler pour une nouvelle histoire, et je me suis dit qu'il irait bien avec Médien."></app-exposition>
    </div>
    <div>
        <app-exposition img="assets/Galerie/002.png" title="Pigné" legende="Pigné est un petit dragon né avec une malformation : il n'a pas d'aile ! La couleur de ses appendices varie selon ses émotions."></app-exposition>
    </div>
</div>

<h1 id="sketchpage">Design</h1>
<div class="wrap">
    <div>
        <app-exposition img="assets/Galerie/003.png" title="Grenouille, crôa crôa !" legende="Voici un design que j'ai créé au cours d'Adopt Fight. J'aime beaucoup ce cryptide !"></app-exposition>
    </div>
</div>