<br><br>
<p>
    Vous pouvez afficher les images en grand en les ouvrant dans un nouvel onglet (ou en zoomant sur la page). Un jour je coderai un joli diaporama d'image, promis.
    <br><br>
    Je ne présenterai ici que des dessins contenant mes personnages. Si vous souhaitez voir plus de contenus, je vous invite à consulter mon Discord ou <a href="https://toyhou.se/lumen_crey/art?page=1">ma galerie Toyhou.se</a>.
    <br><br>
    La plupart du temps, la date du dessin est écrit sur celui-ci. Vous pouvez scroller sur les cases pour avoir un petit complément d'information. N'hésitez pas me contacter pour tous renseignements !</p>
<br>

<!--RACOURCI-->
<div id="racc">
<table>
    <tr>
        <td><a (click)="scrollToElement('scene')">Scene</a> </td>
        <td><a (click)="scrollToElement('sketchpage')">Sketch page</a></td>
        <td><a (click)="scrollToElement('design')">Design</a></td>
        <td><a (click)="scrollToElement('animation')">Animations</a></td>
        <td><a (click)="scrollToElement('divers')">Divers</a></td>
    </tr>
  </table></div>

<!--------------- SCENE ------------------->
<h1 id="scene">_______ <br><br>Scene</h1>
<div class="wrap">
    <div>
        <app-exposition img="assets/Galerie/012.png" title="Moi aussi, je suis un lézard" legende="Thoo est ma petite dragonne déguisée en humain ! Elle est adorable mais les humains n'ont pas été très gentils avec sa famille..."></app-exposition>
    </div>
    <div>
        <app-exposition img="assets/Galerie/013.png" title="Buster & Verveine" legende="Mon duo favori est dans la place ! Voici mes deux chat-garous en pleine promenade."></app-exposition>
    </div>
    <div>
        <app-exposition img="assets/Galerie/021.png" title="Buster" legende="La promenade continue pour Buster !"></app-exposition>
    </div>
    <div>
        <app-exposition img="assets/Galerie/023.png" title="Sketch du mariage" legende="La légende raconte que Buster et Verveine se marièrent dans leur jardin, entourés de leurs amis. Les robes sont une tenue traditionnelle de mariage chez eux, même pour les hommes !"></app-exposition>
    </div>
    <div>
        <app-exposition img="assets/Galerie/025.png" title="C'est encore eux" legende="Voici nos deux jeunes chat-garous qui s'amusent gaiement dans les bois."></app-exposition>
    </div>
</div>

<!--------------- SKETCH PAGE ------------------->
<h1 id="sketchpage">_______ <br><br>Sketch pages</h1>
<div class="wrap">
    <div>
        <app-exposition img="assets/Galerie/001.png" title="Médien & Zorigaitza" legende="Cela fait une éternité que je n'avais pas dessiné Zorigaitza (le brun) ! Je suis en train de le recycler pour une nouvelle histoire, et je me suis dit qu'il irait bien avec Médien (le blond)."></app-exposition>
    </div>
    <div>
        <app-exposition img="assets/Galerie/002.png" title="Pigné" legende="Pigné est un petit dragon né avec une malformation : il n'a pas d'aile ! La couleur de ses appendices varie selon ses émotions."></app-exposition>
    </div>
    <div>
        <app-exposition img="assets/Galerie/017.png" title="Buster" legende="Buster est le plus vieux de mes personnages ! Il a énormément évolué : on passe d'un assassion à un herboriste."></app-exposition>
    </div>
    <div>
        <app-exposition img="assets/Galerie/022.png" title="Thoo et les vêtements" legende="J'ai cherché un moment avant de trouver la tenue parfaite pour notre dragon en herbe."></app-exposition>
    </div>
</div>

<!--------------- DESIGN ------------------->
<h1 id="design">_______ <br><br>Design</h1>
<p>J'ai donné certains de ces personnages à des personnes désireuses de les développer pour leur propre univers. N'hésitez pas à me contacter si vous voulez connaître leur identité.</p>
<div class="wrap">
    <div>
        <app-exposition img="assets/Galerie/003.png" title="Grenouille, crôa crôa !" legende="Voici un design que j'ai créé au cours d'Adopt Fight. J'aime beaucoup ce cryptide !"></app-exposition>
    </div>
    <div>
        <app-exposition img="assets/Galerie/005.png" title="Kirin !" legende="C'est un redesign d'un design que j'avais réalisé et qui ne me plaisait pas ! Le avant-après est fulgurant, je préfère largement cette version."></app-exposition>
    </div>
    <div>
        <app-exposition img="assets/Galerie/006.png" title="Le tigre calico" legende="Ce jeune ami est un tigre à deux queues. Des fleurs de laurier ornent son pelage calico. La légende raconte que ses congénères peignent eux-mêmes les rayures sur le dos de leurs petits. Ils peuvent également peindre des runes qui leur confère des pouvoirs magiques !"></app-exposition>
    </div>
    <div>
        <app-exposition img="assets/Galerie/009.png" title="Rachel" legende="Rachel est un raton laveur que j'ai crée, c'est le premier que je dessine ! J'aime beaucoup ses couleurs et la douceur de son design !"></app-exposition>
    </div>
    <div>
        <app-exposition img="assets/Galerie/008.png" title="Le félinivore !" legende="Vous avez des problèmes d'insectes chez vous ? Voici la solution : le félinivore ! Adieu les mouches, les moustiques et autres bestioles ! Chasse les rongeurs en bonus. Satisfait ou remboursé !"></app-exposition>
    </div>
</div>

<!--------------- ANIMATION ------------------->
<h1 id="anim">_______ <br><br>Animations</h1>

<div class="wrap">
    <div>
        <app-exposition img="assets/Galerie/001.gif" title="Thoo" legende="Petite animation de Thoo sous sa forme humaine ! C'était un test pour faire des sprites."></app-exposition>
    </div>
    <div>
        <app-exposition img="assets/Galerie/002.gif" title="Buster" legende="Voici Buster et sa célèbre danse des épaules !"></app-exposition>
    </div>
    <div>
        <app-exposition img="assets/Galerie/004.gif" title="Hedychium & les dévoreurs" legende="Hedychium est une divinité protectrice d'une jungle. Les petites créatures que vous voyez sont des dévoreurs. Ils mangent les émotions négatives pour survivre ! Cela leur donne une réputation de bête de malheur puisqu'ils sont présents là où ça ne va pas."></app-exposition>
    </div>
    <div>
        <app-exposition img="assets/Galerie/005.gif" title="Verveine au vent" legende="Verveine est un personnage que j'affectionne beaucoup : sa plante est super satisfaisante à dessiner !"></app-exposition>
    </div>
</div>

<!--------------- AUTRE ------------------->
<h1 id="divers">_______ <br><br>Divers</h1>

<div class="wrap">
    <div>
        <app-exposition img="assets/Galerie/004.png" title="Kerme, le magicien du sable" legende="Kerme peut manier le sable à sa guise. Il s'en sert pour raconter des histoires du désert d'où il vient."></app-exposition>
    </div>
    <div>
        <app-exposition img="assets/Galerie/007.png" title="Chibi de Haarch" legende="Vous l'aurez peut-être reconnue, c'est la petite image à côté du nom de l'onglet ! Je vous présente Haarch, une harpie toute timide !"></app-exposition>
    </div>
    <div>
        <app-exposition img="assets/Galerie/010.png" title="Photo de famille" legende="Est-ce que vous aussi il vous est déjà arrivé de ne pas vous connaître sur vos vieilles photos ?"></app-exposition>
    </div>
    <div>
        <app-exposition img="assets/Galerie/011.png" title="Oun" legende="Oun est un griffon des neiges ! Il est adorable mais aussi très joueur et très fier. "></app-exposition>
    </div>
    <div>
        <app-exposition img="assets/Galerie/014.png" title="Txiki" legende="Txiki est un jeune fermier ! Sa magie lui permet de prédire la météo, pratique non ?"></app-exposition>
    </div>
    <div>
        <app-exposition img="assets/Galerie/015.png" title="Hegal" legende="Hegal est ma chimère à pattes de grenouille ! C'est la plus belle de son espèce mais aussi la plus prudente. Il est difficile de la surprendre !"></app-exposition>
    </div>
    <div>
        <app-exposition img="assets/Galerie/016.png" title="Elva & Svèlk" legende="Elva (en noir) et Svèlk (en blanc) sont un duo qui représente l'idée de contraste."></app-exposition>
    </div>
    <div>
        <app-exposition img="assets/Galerie/018.png" title="Thoo & Médien" legende="Thoo est un reptile ! Elle est proche de Médien avec qui elle partage son espèce et qui lui aussi, se cache sous une apparence humaine."></app-exposition>
    </div>
    <div>
        <app-exposition img="assets/Galerie/019.png" title="Fÿki" legende="Le chien-belette-poisson angora est dans la place ! Je vous présente ma petite créature d'eau douce : Fÿki ! Affectueusement appelée chiquin, son espèce peuple son monde et consomme essentiellement du poisson et des amphibiens."></app-exposition>
    </div>
    <div>
        <app-exposition img="assets/Galerie/020.png" title="Il rougit !" legende="Est-ce que vous saviez que Verveine a pris beaucoup de temps à accepter les sentiments de Buster ?"></app-exposition>
    </div>
    <div>
        <app-exposition img="assets/Galerie/024.png" title="Ref sheet de Médien" legende="Médien est mon dragon légendaire qui vit cacher sous forme humaine. D'ailleurs, ça le saoule d'être le 'dragon protecteur gnagnagna...'."></app-exposition>
    </div>
</div>