.wrap {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
}
  
.wrap div {
    width: 300px;
    height: 300px;
}

h1, h2, h3{
    text-align: center;
}

#racc table{
    width: 600px;
  
    vertical-align: center;
    text-align: center;    
}
  
#racc table td{
    border-radius: 30%;
    background-color: var(--rouge);
}
  
#racc table a{
    color: var(--blanc);
}

#racc table a:hover{
    color: var(--jaune);
}
  
#racc{
    position: fixed;
    top: 0px;
    right: 0px;
}
  
  
@media only screen and (max-width: 600px){
    #racc table a{
      font-size: 20px;
    }
}