<h1>Le coin dessin de Lumen</h1>

<h2>Présentation</h2>

<p>Je suis Lumen, et je dessine sur mon temps libre. J'espère pouvoir vous émerveiller avec mes oeuvres ! Je m'amuse avec toutes sortes de créatures plus étranges les unes que les autres...</p>

<p>Vous pouvez me retrouver sur différents réseaux. N'hésitez pas à me contacter, ma messagerie est toujours grande ouverte !</p>

<div class = "grid-container">
  <div class = "grid-item">Toyhou.se<br>lumen_crey</div>
  <div class = "grid-item">ArtFight<br>Newni</div>
  <div class = "grid-item">Ko-Fi<br>Lumen</div>
  <div class = "grid-item">Discord<br>newni</div>
</div>


<h2>Différentes pages</h2>
<ul>
  <li>Accueil</li>
  <li>Galerie</li>
  <li>Commandes</li>
  <li>Projets</li>
</ul>