<table class="containimg">
    <tr>
      <td>
        <img src="assets/Profile.png" alt="profile picture" class="roundimg">
      </td>
      <td>
        <p>Je suis Lumen, étudiante en informatique. Je dessine sur mon temps libre et créé de petites ou grandes histoires. J'espère pouvoir vous émerveiller avec mon univers fantaisiste ! Je travaille essentiellement avec des créatures venues de contrées inatteignables. Je vous souhaite une agréable épopée à travers les pages de ce site !</p>
      </td>
    </tr>
</table>

<app-contact></app-contact>
<app-website-maj></app-website-maj>