<br>
<h1 *ngIf="getLng() === 'fr'">Commandes</h1>
<h1 *ngIf="getLng() === 'en'">Commissions</h1>

<!-- CHARITY COMMISSION
<div class="charity">
    <div *ngIf="getLng() === 'fr'">Payez en faisant des dons à des associations caritatives !</div>
    <div *ngIf="getLng() === 'en'">Consider charity commissions !</div>
    <a routerLink="/projets/charitycomm">Informations -></a>
</div>
-->

<app-display-comm *ngIf="getLng() == 'fr'"></app-display-comm>
<app-en-display-comm *ngIf="getLng() == 'en'"></app-en-display-comm>

<app-how-to-comm *ngIf="getLng() == 'fr'"></app-how-to-comm>
<app-en-how-to-comm *ngIf="getLng() == 'en'"></app-en-how-to-comm>



<app-priceform></app-priceform>
<app-display-tos *ngIf="getLng() == 'fr'"></app-display-tos>
<app-en-display-tos *ngIf="getLng() == 'en'"></app-en-display-tos>

<app-reviews></app-reviews>

