<h1>_______ <br><br>Contact</h1>
<p>Vous pouvez me retrouver sur différents réseaux. N'hésitez pas à me contacter, ma messagerie est toujours grande ouverte !</p>

<table id="contact">
    <tr>
        <th>Toyhou.se</th>
        <td><a href="https://toyhou.se/lumen_crey">lumen_crey</a></td>

        <th>ArtFol</th>
        <td><a href="https://www.artfol.co/lumen_crey">lumen_crey</a></td>
    </tr>
    <tr>
        <th>Discord</th>
        <td><a href="https://discord.gg/2Dg8gFT7KN">newni</a></td>

        <th>Dappervolk</th>
        <td><a href="https://dappervolk.com/profile/41489">Lumens</a></td>
    </tr>
    <tr>
        <th>Unvale</th>
        <td><a href="https://unvale.io/Lumen">Lumen</a></td>

        <th>Ko-Fi</th>
        <td><a href="https://ko-fi.com/lumen">Lumen</a></td>
    </tr>
    <tr>
        <th>Artistree</th>
        <td><a href="https://artistree.io/lumen">lumen</a></td>

        <th>ArtFight</th>
        <td><a href="https://artfight.net/~Newni">Newni</a></td>
    </tr>
</table>