<br><br>

<!-- PRESENTATION -->

<table class="containimg">
  <tr>
    <td>
      <img src="assets/Profile.png" alt="profile picture" class="roundimg">
    </td>
    <td>
      <p>
        I'm Lumen, a student in computer science. I'm a hobbyist artist and I like to create small or great stories. I hope you'll enjoy my wonderful and fantasy universe ! I mainly work with weird and colorful creatures from far away countries. I wish you a pleasant travel across this website ! May the magic guide your cursor !
      </p>
    </td>
  </tr>
</table>

<!-- CONTACT -->
<h1 id="cont">_______ <br><br>Contact</h1>
<p>You can find me on various social medias. Feel free to contact me, my mailbox is always wide open !</p>

<table id="contact">
  <tr>
    <th>Toyhou.se</th>
    <td><a href="https://toyhou.se/lumen_crey">lumen_crey</a></td>

    <th>ArtFol</th>
    <td><a href="https://www.artfol.co/lumen_crey">lumen_crey</a></td>
  </tr>
  <tr>
    <th>Discord</th>
    <td><a href="https://discord.gg/2Dg8gFT7KN">newni</a></td>

    <th>Dappervolk</th>
    <td><a href="https://dappervolk.com/profile/41489">Lumens</a></td>
  </tr>
  <tr>
    <th>Unvale</th>
    <td><a href="https://unvale.io/Lumen">Lumen</a></td>

    <th>Ko-Fi</th>
    <td><a href="https://ko-fi.com/lumen">Lumen</a></td>
  </tr>
  <tr>
    <th>Artistree</th>
    <td><a href="https://artistree.io/lumen">lumen</a></td>

    <th>ArtFight</th>
    <td><a href="https://artfight.net/~Newni">Newni</a></td>
  </tr>
</table>

<!-- NOUVEAUTES / SITE UPDATE --><br>

<h1 id="new">_______ <br><br>News</h1>

<table>
    <tr>
        <td>
            <img src="assets/MAJ3.png" alt="MAJ 3" class="roundimg">
        </td>
        <td>
            <h2 class="left">01/05/2024 - I didn't forget you, dear English-speaker </h2>
            I'm slowly translating this website. If you see any language mistakes, please let me know ! That would help a lot ! 
            <br><br>Happy May the 1st ! <img src="https://64.media.tumblr.com/055ea118c97059e9f6b0337fd0a88c99/e658ec08ae268270-14/s1280x1920/31d394d2c4718635a1219b997ca88526dc99bd51.png" alt="[emoji lily of the valley]" style="max-height: 15px;">
        </td>
    </tr>
</table>

<!--RACOURCI-->
<div id="racc">
    <table>
        <tr>
            <td><a (click)="scrollToElement('cont')">Contact me</a> </td>
            <td><a (click)="scrollToElement('new')">News</a></td>
        </tr>
    </table>
  </div>