<div *ngIf="getLng() === 'fr'">
  <table class="menu">
    <th><a routerLink="/accueil">Accueil</a></th>
    <!--<th><a routerLink="/commande">Commandes</a></th>-->
    <th><a routerLink="/galerie">Galerie</a></th>
    <th><a routerLink="/projets">Projets</a></th>
  </table>
</div>
<div *ngIf="getLng() === 'en'">
  <table class="menu">
    <th><a routerLink="/accueil">Homepage</a></th>
    <!--<th><a routerLink="/commande">Commissions</a></th>-->
    <th><a routerLink="/galerie">Gallery</a></th>
    <th><a routerLink="/projets">Projects</a></th>
  </table>
</div>