<br>
<h1 *ngIf="getLng() === 'fr'">Galerie</h1>
<h1 *ngIf="getLng() === 'en'">Gallery</h1>

<p *ngIf="getLng() === 'fr'">
    Toutes les illustrations ci-dessous sont réalisées par mes soins. Elles sont triées par années. Je vous demanderais de ne pas reposter mes dessins sans mon accord écrit.
    <br>    
    Certains liens peuvent être manquants pour les plus vielles illustrations. Par ailleurs, les pseudos pouvant changer au fil du temps, n'hésitez pas à me contacter si vous voyez une mise à jour à effectué de ce côté.
    <br>
</p>
<p *ngIf="getLng() === 'en'">
    All artworks below are made by me. They are sorted by year. Please, do not repost my art without my written consent.
    <br>    
    Some links may be missing for the older artworks. People's username can change, don't hesitate to contact me if an update is needed.
    <br><br>
    I don't plan to translate my comment on each piece in English so far (maybe one day), sorry dear English-speakers. Please enjoy some french language :)
    <br>
</p>

<h2>2024</h2>
<p *ngIf="getLng() === 'fr'">
    Vous verrez que j'ai beaucoup dessiné cette année ! J'ai participé à pas d'évenement, fait évolué par mal de mes personnages (même si vous ne verrez pas tout), réalisé des commandes et effectué pas mal d'échanges avec des artistes formidables !
    <br><br>
    Vous pouvez également trouver mon Inktober 2024 dans les projets !!
</p>
<app-artlist annee="2024"></app-artlist>
<br>
<h2>2023</h2>
<app-artlist annee="2023"></app-artlist>
<br>
<h2>2022</h2>
<app-artlist annee="2022"></app-artlist>
<br>
<h2>2021</h2>
<app-artlist annee="2021"></app-artlist>
<br>
<h2>2020</h2>
<app-artlist annee="2020"></app-artlist>