<br><br>
<p>
    I offer only three kind of commission at the moment.
    If you're interested in my offer, feel free to contact me or use the <a href="https://forms.gle/9U6aDANyf488W42C7" style="font-weight: bold;">commission form</a>.
    <br><br>
    I can refuse a commission without giving the reason. You will always be notify if so. Thank you for your understanding.
</p>
<br>
<h1 id="type">_______ <br><br>Commission tiers</h1>
<h2>Mystery art | Skeb-like commission</h2>
<p>
    An affordable tier, it cost only 5 EUR per character. This kind of commission will be enjoyed by those looking for adding new art to their gallery without pressure. The turnaround is seven days and the communication between the artist and the commissioner is minimum.
    <br><br>
    The concept is really simple : you choose the characters and I choose the size and the content of the piece. For example, you want Bububble drawn, I can choose to draw them playing cards in their aquarium.
    <br><br>
    No edit on the final piece will be provide. No WIP will be sent.
</p>
<br>
<h2>PWYW Commission</h2>
<p>
    You have an idea and you imagine your character in my style ? This tier is made for you ! You can choose what will be on the canva and the price you want to put in it. The artist can help the client if they struggle finding a price.
    <br><br>
    I can draw a lot of thing, feel free to check my gallery to have an accurate idea ! My art style can vary from piece to piece (I love experimenting), you can show me the pieces you like the most.  
    <br><br>
    No WIP will be sent unless asked (no additionnal fees). My turnaround is a month.
</p>
<br>
<h2>NSFW Commission</h2>
<p>
    Reserved for 18+ only, I realize your naughty ideas. You can contact me for more details, or fill out the form linked above.
    <br><br>
    I only draw humans or humanoids for this tier (no furry, no animal). My turnaround is a month.
</p>
<br>
<h1 id="tos">_______ <br><br>Terms of service</h1>
    <p>Any modifications of the terms requested by the commissioner may cause additionnal fees.</p>
<h2>Delivery</h2>
<p>
    The artist engage to deliver the piece within the written deadline. If they can't provide the final piece, they notice the commissioner and a agreement will be discussed.
    <br><br>
    In the end, the commissioner receive an image file (.png). If asked, the artist can send a file with a different extension, as well as a speedpaint (.mp4).
    <br><br>
    Once the commission is completed, the commissioner can leave a review.
</p>
<br>
<h2>Payment</h2>
<p>
    Payment is made using PayPal, Ko-Fi or Artistree. If the commissioner wants to use Artistree, they can order directly on the <a href="https://artistree.io/lumen">website</a>. The payment engages the commissioner and the artist to follow these terms.
    <br><br>
    The artist starts working on an order after receiving the full payment. The payment's services fees are up to the commissioner : assuming your order costs 10 EUR, if you send 10 EUR and Paypal takes 0,5 EUR, the payment will be considered as incomplete (I receive 9,5 EUR).
    <br>
    If your order worth more than 100 EUR, the commissioner can pay in several instalments. The artist will ask at least 50% of the full price before starting to work.
    <br><br>
    If the artist cannot provide the client request, a refund will be made. No refund asked by the commissioner will be made.
</p>
<br>
<h2>Usage</h2>
<p>
    The commissioned art can't be used for commercial uses or any profit-generating activity including advertising, marketing, reselling and merchandising.
    <br>
    The commissioned piece cannot be used to train any kind of algorithm, including artificial intelligence, without the written consent of the artist.
    <br><br>
    The artist can post their work on social medias to promote their activity. The commissioner can ask to keep the art private for a certain delay (in case the piece is a gift for example).
</p>
<br>
<h2>Piece edits</h2>
<p>
    If the tier allows it, the commissioner can ask for WIP (Work In Progress). They can ask for changes five times maximum (each times can contain as many changes as needed). If more than five times, the artist may ask additionnal fees.
    <br><br>
    The artist can send a WIP by themselves and ask the commissioner approvement.
    <br><br>
    If a WIP doesn't get an approvement within three days, it will be considered as approved.
    <br><br>
    Once the final piece is approved by the commissioner, no edits will be provided by the artist. The commissioner may edit the piece if the artist (me) is properly credited.
</p>
<br><br>

<!--RACOURCI-->
<div id="racc">
    <table>
        <tr>
            <td><a (click)="scrollToElement('type')">Commission tiers</a> </td>
            <td><a (click)="scrollToElement('tos')">Terms of Service</a></td>
        </tr>
    </table>
</div>