<h1>_______<br></h1>

<h1>PIXEL ART</h1>
<app-tier-comm-view name="Mini 30*30px" [tat]="7" [prix]="2" info="Ce format inclut jusqu'à deux frames d'animations (+1 EUR par frame supplémentaire)."></app-tier-comm-view>
<div class="scroll-container">
    <img src="assets/Commande/Mini1.gif" alt="">
    <img src="assets/Commande/Mini2.gif" alt="">
    <img src="assets/Commande/Mini3.gif" alt="">
    <img src="assets/Commande/Mini4.gif" alt="">
    <img src="assets/Commande/Mini5.png" alt="">
</div>
<br>
<app-tier-comm-view name="Portrait statique 100*100px" [tat]="14" [prix]="6" info="L'expression est à votre choix."></app-tier-comm-view>
<div class="scroll-container">
    <img src="assets/Commande/Pstat1.png" alt="">
    <img src="assets/Commande/Pstat2.png" alt="">
    <img src="assets/Commande/Pstat3.png" alt="">
    <img src="assets/Commande/Pstat4.png" alt="">
</div>
<br>
<app-tier-comm-view name="Pixel animé" [tat]="21" [prix]="10" info="La toile sera autour de 100*100px (ajustable). L'animation est à votre choix (5 frames incluses, + 1 EUR par frame supplémentaire)"></app-tier-comm-view>
<div class="scroll-container">
    <img src="assets/Commande/Anim1.gif" alt="">
    <img src="assets/Commande/Anim2.gif" alt="">
    <img src="assets/Commande/Anim3.gif" alt="">
    <img src="assets/Commande/Anim4.gif" alt="">
    <img src="assets/Commande/Anim5.gif" alt="">
</div>
<br>
<app-tier-comm-view name="Autre format" [tat]="0" [prix]="0" info="Contactez-moi pour voir ce que l'on peut arranger !"></app-tier-comm-view>
<br>
<h1>TRADITIONAL ART</h1>
<br>
<app-tier-comm-view name="Sketch aux crayons de couleur" [tat]="30" [prix]="4" info="Un sketch colorié de taille inférieure à 10*10cm. Peut être cumulé pour faire une page de sketch !"></app-tier-comm-view>
<div class="scroll-container">
    <img src="assets/Commande/Cray1.png" alt="">
    <img src="assets/Commande/Cray2.png" alt="">
    <img src="assets/Commande/Cray3.png" alt="">
    <img src="assets/Commande/Cray4.png" alt="">
    <img src="assets/Commande/Cray5.png" alt="">
    <img src="assets/Commande/Cray6.png" alt="">
    <img src="assets/Commande/Cray7.png" alt="">
    <img src="assets/Commande/Cray8.png" alt="">
</div>
<br>
<app-tier-comm-view name="Sketch technique mixte" [tat]="30" [prix]="6" info="Un sketch colorié de taille inférieure à 10*10cm pouvant utiliser ces techniques : feutres, aquarelle, crayon de couleur, gouache, posca, pastel à l'huile. Technique au choix de l'artiste. Peut être cumulé pour faire une page de sketch !"></app-tier-comm-view>
<div class="scroll-container">
    <img src="assets/Commande/Mixt1.png" alt="">
    <img src="assets/Commande/Mixt2.png" alt="">
    <img src="assets/Commande/Mixt3.png" alt="">
    <img src="assets/Commande/Mixt4.png" alt="">
    <img src="assets/Commande/Mixt5.png" alt="">
    <img src="assets/Commande/Mixt6.png" alt="">
    <img src="assets/Commande/Mixt7.png" alt="">
</div>
<br>
<app-tier-comm-view name="A5 au fusain" [tat]="30" [prix]="8" info="Un dessin au fusain uniquement, avec d'éventuelles touches de couleur."></app-tier-comm-view>
<div class="scroll-container">
    <img src="assets/Commande/Fus1.png" alt="">
    <img src="assets/Commande/Fus2.png" alt="">
</div>
<br>
<app-tier-comm-view name="Planche surprise A4" [tat]="45" [prix]="20" info="Une page de dessins en tout genre, selon l'inspiration de l'artiste. Techniques au choix de l'artiste."></app-tier-comm-view>
<div class="scroll-container">
    <img src="assets/Commande/Psur1.png" alt="">
    <img src="assets/Commande/Psur2.png" alt="">
    <img src="assets/Commande/Psur3.png" alt="">
    <img src="assets/Commande/Psur4.png" alt="">
    <img src="assets/Commande/Psur5.png" alt="">
    <img src="assets/Commande/Psur6.png" alt="">
</div>
<br>
<app-tier-comm-view name="Planche de BD" [tat]="60" [prix]="60" info="Le scénario est celui de votre choix. Un storyboard vous sera envoyé pour validation. Technique au choix de l'artiste. Format A5. Peut être cumulé pour faire une histoire plus longue. Le premier exemple est le plus représentatif."></app-tier-comm-view>
<div class="scroll-container">
    <img src="assets/Commande/BD1.png" alt="">
    <img src="assets/Commande/BD2.png" alt="">
    <img src="assets/Commande/BD3.png" alt="">
    <img src="assets/Commande/BD4.png" alt="">
    <img src="assets/Commande/BD5.png" alt="">
    <img src="assets/Commande/BD6.png" alt="">
    <img src="assets/Commande/BD7.png" alt="">
</div>
<br>
<app-tier-comm-view name="Autre format" [tat]="0" [prix]="0" info="Contactez-moi pour voir ce que l'on peut arranger !"></app-tier-comm-view>
<br>
<h1>DIGITAL ART</h1>
<br>
<app-tier-comm-view name="Sketch - Portrait monochromatique" [tat]="7" [prix]="3" info="Format carré, fond texturé. Expression au choix."></app-tier-comm-view>
<div class="scroll-container">
    <img src="assets/Commande/Mono1.png" alt="">
    <img src="assets/Commande/Mono2.png" alt="">
    <img src="assets/Commande/Mono3.png" alt="">
    <img src="assets/Commande/Mono4.png" alt="">
</div>
<br>
<app-tier-comm-view name="Sketch - Portrait" [tat]="7" [prix]="4" info="Coloré et ombré. Expression au choix."></app-tier-comm-view>
<div class="scroll-container">
    <img src="assets/Commande/SPor1.png" alt="">
    <img src="assets/Commande/SPor2.png" alt="">
    <img src="assets/Commande/SPor3.png" alt="">
    <img src="assets/Commande/SPor4.png" alt="">
    <img src="assets/Commande/SPor5.png" alt="">
    <img src="assets/Commande/SPor6.png" alt="">
    <img src="assets/Commande/SPor7.png" alt="">
    <img src="assets/Commande/SPor8.png" alt="">
</div>
<br>
<app-tier-comm-view name="Sketch - Half" [tat]="10" [prix]="8" info="Coloré et ombré. Expression et pose au choix."></app-tier-comm-view>
<div class="scroll-container">
    <img src="assets/Commande/SHalf0.png" alt="">
    <img src="assets/Commande/SHalf1.png" alt="">
    <img src="assets/Commande/SHalf2.png" alt="">
    <img src="assets/Commande/SHalf3.png" alt="">
    <img src="assets/Commande/SHalf4.png" alt="">
</div>
<br>
<app-tier-comm-view name="Sketch - Full" [tat]="15" [prix]="10" info="Coloré et ombré. Expression et pose au choix."></app-tier-comm-view>
<div class="scroll-container">
    <img src="assets/Commande/SFull1.png" alt="">
    <img src="assets/Commande/SFull2.png" alt="">
    <img src="assets/Commande/SFull3.png" alt="">
    <img src="assets/Commande/SFull4.png" alt="">
    <img src="assets/Commande/SFull5.png" alt="">
    <img src="assets/Commande/SFull6.png" alt="">
</div>
<br>
<app-tier-comm-view name="Sketch - Page" [tat]="30" [prix]="12" info="Inclus une heure de sketch, quantité en fonction de ce que l'artiste a le temps de faire. Plusieurs personnages ne changent pas le prix."></app-tier-comm-view>
<div class="scroll-container">
    <img src="assets/Commande/SPa1.png" alt="">
    <img src="assets/Commande/SPa2.png" alt="">
    <img src="assets/Commande/SPa3.png" alt="">
    <img src="assets/Commande/SPa4.png" alt="">
</div>
<br>
<app-tier-comm-view name="Sketch - Scene" [tat]="30" [prix]="16" info="Coloré, ombré, rendu. Fond simple uniquement."></app-tier-comm-view>
<div class="scroll-container">
    <img src="assets/Commande/SSce1.png" alt="">
    <img src="assets/Commande/SSce2.png" alt="">
    <img src="assets/Commande/SSce3.png" alt="">
    <img src="assets/Commande/SSce4.png" alt="">
    <img src="assets/Commande/SSce5.png" alt="">
</div>
<br>
<app-tier-comm-view name="Sketch - Autre format" [tat]="0" [prix]="0" info="Contactez-moi pour voir ce que l'on peut arranger !"></app-tier-comm-view>

<br>
<app-tier-comm-view name="Abouti - Chibi" [tat]="15" [prix]="6" info="Coloré et ombré. Expression et pose au choix."></app-tier-comm-view>
<div class="scroll-container">
    <img src="assets/Commande/Chibi1.png" alt="">
    <img src="assets/Commande/Chibi2.png" alt="">
    <img src="assets/Commande/Chibi3.png" alt="">
    <img src="assets/Commande/Chibi4.png" alt="">
    <img src="assets/Commande/Chibi5.png" alt="">
    <img src="assets/Commande/Chibi6.png" alt="">
    <img src="assets/Commande/Chibi7.png" alt="">
    <img src="assets/Commande/Chibi8.png" alt="">
</div>

<br>
<app-tier-comm-view name="Abouti - Portrait" [tat]="15" [prix]="10" info="Coloré et ombré. Fond simple inclus."></app-tier-comm-view>
<div class="scroll-container">
    <img src="assets/Commande/Port1.png" alt="">
    <img src="assets/Commande/Port2.png" alt="">
    <img src="assets/Commande/Port3.png" alt="">
    <img src="assets/Commande/Port4.png" alt="">
    <img src="assets/Commande/Port5.png" alt="">
    <img src="assets/Commande/Port6.png" alt="">
    <img src="assets/Commande/Port7.png" alt="">
    <img src="assets/Commande/Portrait1.png" alt="">
    <img src="assets/Commande/Portrait2.png" alt="">
    <img src="assets/Commande/Portrait3.png" alt="">
    <img src="assets/Commande/Portrait4.png" alt="">
    <img src="assets/Commande/Portrait5.png" alt="">
    <img src="assets/Commande/Portrait6.png" alt="">
    <img src="assets/Commande/Portrait7.png" alt="">
</div>

<br>
<app-tier-comm-view name="Abouti - Half" [tat]="25" [prix]="20" info="Un dessin allant de la tête aux hanches. Coloré et ombré. Fond simple inclus."></app-tier-comm-view>
<div class="scroll-container">
    <img src="assets/Commande/Half0.png" alt="">
    <img src="assets/Commande/Half1.png" alt="">
    <img src="assets/Commande/Half2.png" alt="">
    <img src="assets/Commande/Half3.png" alt="">
    <img src="assets/Commande/Half4.png" alt="">
    <img src="assets/Commande/Half5.png" alt="">
    <img src="assets/Commande/Half6.png" alt="">
    <img src="assets/Commande/Half7.png" alt="">
</div>
<br>
<app-tier-comm-view name="Abouti - Full" [tat]="30" [prix]="30" info="Une illustration de la tête aux orteils de votre personage. Coloré et ombré. Fond simple inclus."></app-tier-comm-view>
<div class="scroll-container">
    <img src="assets/Commande/Full0.png" alt="">
    <img src="assets/Commande/Full1.png" alt="">
    <img src="assets/Commande/Full2.png" alt="">
    <img src="assets/Commande/Full3.png" alt="">
    <img src="assets/Commande/Full4.png" alt="">
    <img src="assets/Commande/Full5.png" alt="">
    <img src="assets/Commande/Full6.png" alt="">
    <img src="assets/Commande/Full7.png" alt="">
    <img src="assets/Commande/Full8.png" alt="">
</div>
<br>
<app-tier-comm-view name="Abouti - Page d'expression" [tat]="45" [prix]="35" info="Vous voulez voir votre personnage fâché ? Triste ? Ennuyé ? Etourdi ? Tout ça en même temps ? Cinq expressions au choix."></app-tier-comm-view>
<div class="scroll-container">
    <img src="assets/Commande/PExp1.png" alt="">
    <img src="assets/Commande/PExp2.png" alt="">
    <img src="assets/Commande/PExp3.png" alt="">
    <img src="assets/Commande/Portrait7.png" alt="">
    <img src="assets/Commande/Expr1.png" alt="">
    <img src="assets/Commande/Expr2.png" alt="">
    <img src="assets/Commande/Expr3.png" alt="">
    <img src="assets/Commande/Expr4.png" alt="">
    <img src="assets/Commande/Expr5.png" alt="">
    <img src="assets/Commande/Expr6.png" alt="">
</div>
<br>
<app-tier-comm-view name="Abouti - Scène simple" [tat]="30" [prix]="40" info="Coloré et ombré. Proposition de plusieurs compositions incluse. Fond inclus."></app-tier-comm-view>
<div class="scroll-container">
    <img src="assets/Commande/SceneS1.png" alt="">
    <img src="assets/Commande/SceneS2.png" alt="">
    <img src="assets/Commande/SceneS3.png" alt="">
    <img src="assets/Commande/SceneS4.png" alt="">
    <img src="assets/Commande/Scene1.png" alt="">
    <img src="assets/Commande/Scene2.png" alt="">
    <img src="assets/Commande/Scene3.png" alt="">
    <img src="assets/Commande/Portrait6.png" alt="">
    <img src="assets/Commande/Scene5.png" alt="">
    <img src="assets/Commande/Scene6.png" alt="">
    <img src="assets/Commande/Scene7.png" alt=""> 
</div>
<br>
<app-tier-comm-view name="Abouti - Scène complexe" [tat]="40" [prix]="60" info="Coloré et ombré. Proposition de plusieurs compositions incluse. Fond complexe inclus."></app-tier-comm-view>
<div class="scroll-container">
    <img src="assets/Commande/SceneC1.png" alt="">
    <img src="assets/Commande/SceneC2.png" alt="">
    <img src="assets/Commande/SceneC3.png" alt="">
    <img src="assets/Commande/SceneC4.png" alt="">
    <img src="assets/Commande/Scene4.png" alt="">
</div>
<br>
<app-tier-comm-view name="Abouti - Comic" [tat]="60" [prix]="60" info="Coloré et ombré. Scénario de votre choix. Format classique ou vertical. Proposition d'un storyboard. Les derniers exemples sont des storyboards."></app-tier-comm-view>
<div class="scroll-container">
    <img src="assets/Commande/Comic1.png" alt="">
    <img src="assets/Commande/Comic2.png" alt="">
    <img src="assets/Commande/Comic3.png" alt="">
    <img src="assets/Commande/Comic4.png" alt="">
    <img src="assets/Commande/Comic5.png" alt="">
    <img src="assets/Commande/Comic6.png" alt="">
</div>
<br>
<app-tier-comm-view name="Abouti - Autre format" [tat]="0" [prix]="0" info="Contactez-moi pour voir ce que l'on peut arranger !"></app-tier-comm-view>