<h1>_______ <br><br>Œuvre cartoon colorée !</h1>
<p>Ces commandes incluent un fond transparent, simple ou abstrait. Des accesoires simples peuvent être ajoutés.</p>

<app-tier-comm-view name="Portrait" [tat]="7" info="Un portrait de votre personnage !"></app-tier-comm-view>
<div class="scroll-container">
    <img src="/assets/Commande/Portrait1.png" alt="">
    <img src="/assets/Commande/Portrait2.png" alt="">
    <img src="/assets/Commande/Portrait3.png" alt="">
    <img src="/assets/Commande/Portrait4.png" alt="">
    <img src="/assets/Commande/Portrait5.png" alt="">
    <img src="/assets/Commande/Portrait6.png" alt="">
    <img src="/assets/Commande/Portrait7.png" alt="">
</div>

<app-tier-comm-view name="Half" [tat]="10" info="Un dessin allant de la tête aux hanches !"></app-tier-comm-view>
<div class="scroll-container">
    <img src="/assets/Commande/Half1.png" alt="">
    <img src="/assets/Commande/Half2.png" alt="">
    <img src="/assets/Commande/Half3.png" alt="">
    <img src="/assets/Commande/Half4.png" alt="">
    <img src="/assets/Commande/Half5.png" alt="">
    <img src="/assets/Commande/Half6.png" alt="">
    <img src="/assets/Commande/Half7.png" alt="">
</div>

<app-tier-comm-view name="Full" [tat]="14" info="Une illustration de la tête aux orteils de votre personage !"></app-tier-comm-view>
<div class="scroll-container">
    <img src="/assets/Commande/Full1.png" alt="">
    <img src="/assets/Commande/Full2.png" alt="">
    <img src="/assets/Commande/Full3.png" alt="">
    <img src="/assets/Commande/Full4.png" alt="">
    <img src="/assets/Commande/Full5.png" alt="">
    <img src="/assets/Commande/Full6.png" alt="">
    <img src="/assets/Commande/Full7.png" alt="">
</div>
 
<app-tier-comm-view name="Page d'expression" [tat]="14" info="Vous voulez voir votre personnage fâché ? Triste ? Ennuyé ? Etourdi ? Tout ça en même temps ?"></app-tier-comm-view>
<div class="scroll-container">
    <img src="/assets/Commande/Expr1.png" alt="">
    <img src="/assets/Commande/Expr2.png" alt="">
    <img src="/assets/Commande/Expr3.png" alt="">
    <img src="/assets/Commande/Expr5.png" alt="">
    <img src="/assets/Commande/Expr6.png" alt="">
</div>

<h1>Illustrations complètes</h1>
<p>Ces commandes incluent des accessoires complexes et un fond détailé.</p>
<app-tier-comm-view name="Scène" [tat]="30" info="Une mise en scène sauvage apparaît ! Pikachu, go !"></app-tier-comm-view>
<div class="scroll-container">
    <img src="/assets/Commande/Scene1.png" alt="">
    <img src="/assets/Commande/Scene2.png" alt="">
    <img src="/assets/Commande/Scene3.png" alt="">
    <img src="/assets/Commande/Scene4.png" alt="">
    <img src="/assets/Commande/Scene5.png" alt="">
    <img src="/assets/Commande/Scene6.png" alt="">
    <img src="/assets/Commande/Scene7.png" alt=""> 
</div>

<h1>Animations</h1>
<p>Petits formats animés !</p>

<app-tier-comm-view name="Boule de poil" [tat]="7" info="Une mignonne boule poilue à l'effigie de votre personnage réalisant une action de votre choix."></app-tier-comm-view>
<div class="scroll-container">
    <img src="/assets/Commande/Bdp1.gif" alt="">
    <img src="/assets/Commande/Bdp2.gif" alt="">
    <img src="/assets/Commande/Bdp3.gif" alt="">
    <img src="/assets/Commande/Bdp4.gif" alt="">
    <img src="/assets/Commande/Bdp5.gif" alt="">
</div>

<app-tier-comm-view name="Portrait en 5 frames" [tat]="14" info="Cinq images qui s'enchaînent pour laisser votre personnage rire, cligner des yeux, tirer la langue, ..."></app-tier-comm-view>
<div class="scroll-container">
    <img src="/assets/Commande/Portrait1.gif" alt="">
    <img src="/assets/Commande/Portrait2.gif" alt="">
    <img src="/assets/Commande/Portrait3.gif" alt="">
    <img src="/assets/Commande/Portrait4.gif" alt="">
</div>

<h1>Sketch</h1>
<p>Dessin rapide ou simplifié de votre personnage !</p>
<app-tier-comm-view name="Page de sketch" [tat]="14" info="Un paquet de petits dessins !"></app-tier-comm-view>
<div class="scroll-container">
    <img src="/assets/Commande/Skp1.png" alt="">
    <img src="/assets/Commande/Skp2.png" alt="">
    <img src="/assets/Commande/Skp3.png" alt="">
    <img src="/assets/Commande/Skp4.png" alt="">
    <img src="/assets/Commande/Skp5.png" alt="">
    <img src="/assets/Commande/Skp6.png" alt="">
    <img src="/assets/Commande/Skp7.png" alt=""> 
</div> 

