p{
    text-align: center;
}

div.scroll-container {
    overflow: auto;
    white-space: nowrap;
    padding: 10px;
    max-height: 400px;
}

div.scroll-container img {
    max-height: 380px;
    padding : 10px;
}